.index {
  background: #fbfbfb;
  height: 120rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    color: #777777;
    font-size: 32rpx;
    margin: 0 20rpx;
  }
  .line {
    width: 46rpx;
    height: 2rpx;
    display: inline-block;
  }
  .left {
    background: linear-gradient(
      90deg,
      rgba(246, 246, 246, 1) 0%,
      rgba(119, 119, 119, 1) 100%
    );
    opacity: 0.3892;
  }
  .right {
    background: linear-gradient(
      270deg,
      rgba(246, 246, 246, 1) 0%,
      rgba(119, 119, 119, 1) 100%
    );
    opacity: 0.3892;
  }
}
