.container {
  //display: flex;
  background: rgba(251, 251, 251, 1);

  .userinfo-box {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;

    .avatar {
      display: block;
      width: 132px;
      height: 132px;
      border-radius: 50%;
      border: 1px solid #fff;
      box-sizing: border-box;
      overflow: hidden;
      margin-left: 30px;
      margin-right: 20px;
    }

    .nickname {
      font-size: 32px;
      color: rgb(29, 31, 43);
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-family: PingFangSC-Medium;
    }

    .praise {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;

      .value {
        font-size: 32px;
        color: #000;
        font-family: PingFangSC-Medium;
      }

      .txt {
        font-size: 24px;
        color: rgb(149, 150, 159);
      }
    }

    .line {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 2px;
      height: 32px;
      background: rgba(229, 229, 229, 1);
      border-radius: 1px;
      margin: 0 20px;
    }

    .collection {
      margin-right: 55px;
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .value {
        font-size: 32px;
        color: #000;
        font-family: PingFangSC-Medium;
      }

      .txt {
        font-size: 24px;
        color: rgb(149, 150, 159);
      }
    }
  }

  // #tab-list-space {
  //   height: 40px;
  //   width: 100%;
  //   background: #fff;
  // }

  // .tab-list {
  //   width: 750px;
  //   height: 90px;
  //   display: flex;
  //   flex-direction: row;
  //   border-bottom: 1px solid rgba(251, 251, 251, 0.5);
  //   background: #fff;

  //   .tab {
  //     display: flex;
  //     flex: 1;

  //     .tab-name {
  //       position: relative;
  //       height: 90px;
  //       line-height: 90px;
  //       font-size: 30px;
  //       color: rgb(29, 31, 43);
  //       font-family: PingFangSC-Semibold;
  //     }

  //     .tab-name.cur {
  //       font-size: 32px;
  //       color: rgb(2, 181, 14);
  //       position: relative;

  //       .line {
  //         width: 50px;
  //         height: 4px;
  //         background:
  //           linear-gradient(
  //             270deg,
  //             rgba(2, 181, 14, 1) 0%,
  //             rgba(11, 201, 0, 1) 100%
  //           );
  //         border-radius: 2px;
  //         position: absolute;
  //         margin: auto;
  //         right: 0;
  //         bottom: 1px;
  //         left: 0;
  //       }
  //     }
  //   }

  //   .tab.left {
  //     justify-content: flex-end;
  //     padding-right: 64px;
  //   }

  //   .tab.right {
  //     justify-content: flex-start;
  //     padding-left: 64px;
  //   }
  // }

  .tip-container {
    position: relative;
    width: 690px;
    height: 82px;
    background: rgba(255, 241, 211, 1);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;

    .tip-icon {
      width: 28px;
      height: 30px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/128978/6/3292/878/5ecfa96fE00707bed/ff58fba17deebf76.png)
        no-repeat;
      background-size: 100% 100%;
    }

    .tip-txt {
      font-size: 24px;
      color: rgba(180, 126, 23, 1);
      padding-left: 12px;
    }

    .tip-close {
      width: 40px;
      height: 82px;
      position: absolute;
      margin: auto;
      top: 0;
      right: 10px;
      bottom: 0;
      background-position: center;
      background-size: 26px;
      background-repeat: no-repeat;
      background-image: url('https://m.360buyimg.com/img/jfs/t1/124884/6/1096/587/5eba01caE389fd09c/0056e9933767fdde.png');
    }
  }

  .list-wrap {
    display: block;
    width: 750px;
    margin-top: 22px;
    background: rgb(251, 251, 251);

    &-main {
      display: flex;
      justify-content: space-between;
      align-items: space-between;
      flex-direction: row;
      padding: 0 30px;

      .items-list {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;
      }
    }
  }

  .no-more {
    color: #c2c3c2;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PingFangSC-Regular;
    margin-top: 40px;
    padding-bottom: 90px;
  }

  .none-page {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .none-img {
      width: 200px;
      height: 200px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/112436/3/7859/29636/5ec67bb5E8bfb4b9d/2bd13f6fe50b9e36.png)
        no-repeat;
      background-size: 100% 100%;
    }

    .none-txt {
      height: 40px;
      line-height: 40px;
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: rgba(149, 150, 159, 1);
      margin-top: 42px;
    }

    .to-topic-list-btn {
      margin: 0 auto;
      background: #fff;
      margin-top: 50px;
      width: 190px;
      height: 68px;
      line-height: 68px;
      border: 1px solid rgb(194, 194, 194);
      border-radius: 34px;
      text-align: center;
      font-size: 26px;
      color: rgb(37, 37, 37);
    }
  }
}
