@import '../../../../common//theme.scss';

.businesses-item {
  background: #fff;
  border-radius: 12px;
}

.businesses-item.cur {
  border: 1px $color solid;
}

.businesses-container {
  position: relative;
  width: 630px;
  height: 180px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.businesses-container-left {
  width: 142px;
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  // position: absolute;
  // top: 20px;
}

.businesses-img {
  width: 100%;
  height: 100%;
}

.businesses-name {
  font-size: 32px;
  color: $color;
  position: absolute;
  top: 5px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.businesses-time-range,
.businesses-delivery {
  font-size: 24px;
  color: rgb(119, 119, 119);
}

.businesses-desc {
  position: absolute;
  bottom: -32px;
  width: 400px;
  height: 26px;
  line-height: 26px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: rgba(255, 75, 37, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.businesses-time-range {
  position: absolute;
  bottom: 44px;
}

.businesses-delivery {
  position: absolute;
  bottom: 4px;
}

.businesses-line {
  padding: 0 12px;
}

.businesses-container-middle {
  position: absolute;
  top: 20px;
  left: 180px;
  margin-left: 20px;
  width: 360px;
  height: 142px;
}

// .businesses-container-right {
// }

.businesses-selected-icon {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  background-image: url($selectBtn);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
