.order-panel-page{
  padding:30px;
  width:650px;
  background:#fff;
  margin:22px auto;
  box-shadow: 0 4px 24px rgba(0,0,0,0.05);
  .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
    .title{
        font-size:32px;
        font-family: 'PingFangSC-Medium';
        color:rgb(29, 31, 43);
    }
    .search{
      font-size:26px;
      font-family: 'PingFangSC-Regular';
      color:rgb(152,152,152);
      .left-icon{
        width:16px;
        height:22px;
        position: relative;
        top:2px;
      }
    }
  }
  .list{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    font-size:28px;
    .name{
      padding-right:40px;
      color:rgb(137,137,137);
      font-family: 'PingFangSC-Regular';
    }
    .value{
      font-family: 'JDZhengHei-01-Regular,Helvetica';
      columns: #252525;
    }
  }
}
