$titleColor: rgb(37, 37, 37);
$subTitleColor: rgb(137, 137, 137);
$descColor: rgb(42, 98, 149);
$quoteBg: 'https://m.360buyimg.com/img/jfs/t1/28286/2/7686/483/5c6e06bcE0c5b090a/eca785e3bc55d2b9.png';
$shareIcon: 'https://m.360buyimg.com/img/jfs/t1/16319/33/10178/566/5c85f8efE9bdd20e2/87f631e72c4f4667.png';

.card {
  width: 630px;
  // height: 444px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 10px 40px 0 rgba(105, 76, 62, 0.08);
  padding: 40px 30px;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .top {
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(42, 98, 149, 0.1);

    .title-wrap {
      display: flex;
      width: 660px;
    }

    .title {
      width: 524px;
      height: 66px;
      line-height: 66px;
      font-family: PingFangSC-Semibold;
      font-size: 48px;
      color: $titleColor;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    .share-btn {
      width: 158px;
      height: 68px;
      line-height: 68px;
      border-radius: 200px 0 0 200px;
      background-color: rgba(52, 91, 143, 0.2);
      font-family: PingFangSC-Regular;
      color: rgb(52, 91, 143);
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .share-btn::before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      background: url($shareIcon) no-repeat;
      background-size: 100%;
    }

    .share-btn::after {
      border: none;
    }

    .author-wrap {
      display: flex;
      height: 56px;
      margin-bottom: 30px;

      .author {
        display: inline-block;
        width: 204px;
        height: 40px;
        margin-left: 12px;
        font-family: 'PingFangSC-Medium';
        font-size: 24px;
        color: rgb(191, 191, 191);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .source-box {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 56px;
        align-items: center;
      }

      .source-label {
        position: absolute;
        bottom: 0;
        left: 30px;
        font-size: 14px;
        width: 40px;
        height: 18px;
        color: #fff;
        text-align: center;
        border-radius: 9px;
        border-bottom-left-radius: 0;
        background: linear-gradient(to right, #42c42d, #0fb105);
      }

      .source {
        display: inline-block;
        // width: 554px;
        height: 40px;
        line-height: 40px;
        font-family: PingFangSC-Regular;
        font-size: 26px;
        margin-left: 4px;
        color: $subTitleColor;
      }

      .source-logo {
        width: 56px;
        height: 56px;
        box-sizing: border-box;
        border-radius: 28px;
        margin-right: 15px;
        border: 1px solid #f1f1f1;
        background: #f1f1f1;
      }
    }

    .tag {
      display: flex;
      height: 40px;
      align-items: center;

      .item {
        font-family: PingFangSC-Medium;
        font-size: 28px;
        color: $descColor;
      }

      .split-line {
        width: 2px;
        height: 28px;
        background-color: $descColor;
        opacity: 0.2;
        margin: 0 40px;
      }
    }

    .time {
      position: absolute;
      top: 10px;
      right: 0;
      text-align: center;

      .date {
        height: 60px;
        line-height: 60px;
        font-family: STSongti-SC-Black;
        font-size: 60px;
        color: $titleColor;
        margin-bottom: 10px;
      }

      .month {
        height: 28px;
        line-height: 28px;
        font-family: STSongti-SC-Bold;
        font-size: 20px;
        color: $titleColor;
      }
    }
  }

  .bottom {
    position: relative;
    padding-top: 30px;

    .preface-title {
      height: 34px;
      line-height: 34px;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: $subTitleColor;
      margin-bottom: 20px;
    }

    .preface {
      display: flex;

      .quote {
        margin-top: 7px;
        width: 22px;
        height: 20px;
        background-image: url($quoteBg);
        background-size: 100%;
        margin-right: 10px;
      }

      .preface-txt {
        width: 560px;
        height: auto;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        color: $descColor;
        line-height: 36px;
        // overflow: hidden;
        // display: -webkit-box;
        // text-overflow: ellipsis;
        // -webkit-line-clamp: 4;
        // -webkit-box-orient: vertical;

        /* autoprefixer: ignore next */
      }

      .ellipsis {
        max-height: 140px;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    .more {
      position: absolute;
      bottom: -18px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 11px;

      .moreImg {
        width: 31px;
        height: 11px;
        background:
          url(//m.360buyimg.com/img/jfs/t1/30380/6/15043/1081/5cc012cdE5fe5bca1/2fa1485e0d1e7f01.png)
          no-repeat;
        background-size: 100%;
      }

      .rotate {
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .jiludata {
      position: absolute;
      z-index: -10;

      .text {
        width: 560px;
        height: auto;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        color: transparent;
        line-height: 36px;
      }
    }
  }
}
