.recommend-list {
  white-space: nowrap;
  display: flex;
  height: 100rpx;
  margin-top: 30rpx;
  margin-bottom: 16rpx;
  width: 100%;
  box-sizing: border-box;
}
.recommend-list-inner {
  margin-left: 30rpx;
}
