.detail-picture-page {
  position: relative;
  width: 690px;
  margin: 0 auto;

  .detail-product-title {
    font-size: 36px;
    color: rgb(37, 37, 37);
    font-family: 'PingFangSC-Semibold';
    line-height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    word-break: break-all;
  }

  .detail-product-bottom {
    width: 650px;
    height: 72px;
    line-height: 72px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    .product-i {
      font-size: 20px;
      color: rgb(223, 71, 76);
      font-family: 'JDZhengHei-01-Regular';
    }

    .product-current-price {
      font-size: 40px;
      color: rgb(223, 71, 76);
      font-family: 'JDZhengHei-01-Regular';
      position: relative;
      top: -4px;
    }

    .product-unit {
      font-size: 20px;
      font-family: 'PingFangSC-Regular';
      color: rgb(138, 138, 138);
    }

    .product-base-price {
      font-size: 28px;
      color: rgb(194, 194, 194);
      font-family: 'JDZhengHei-01-Regular';
      padding-left: 12px;
      text-decoration: line-through;
    }
  }
}
