.talk-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto 40px;
  width: 670px;
  .user-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .right-content {
    display: flex;
    flex-direction: column;
    .info {
      font-family: 'PingFangSC-Regular';
      .user-name {
        font-size: 26px;
        color: #252525;
        padding-right: 20px;
      }
      .time {
        font-size: 24px;
        color: rgb(152, 152, 152);
      }
    }
  }
  .card-content {
    width: 540px;
    height: 260px;
    background: #fff;
    padding: 0 20px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    .top {
      height: 65px;
      line-height: 65px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .left,
      .right {
        font-size: 24px;
        color: rgb(29, 31, 40);
        font-family: 'PingFangSC-Regular';
      }
      .right {
        .red {
          color: rgb(226, 52, 52);
        }
      }
    }
    .bottom {
      background: linear-gradient(
        to top,
        rgba(252, 252, 252, 0),
        rgb(249, 249, 249)
      );
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 20px 0;
      .product-img {
        width: 158px;
        height: 158px;
        margin-right: 12px;
        margin-left: 10px;
      }
      .content {
        position: relative;
        width:400px;
        .title {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 32px;
          color: rgb(29, 31, 43);
          font-family: 'PingFangSC-Medium';
          line-height: 44px;
        }
        .desc {
          font-size: 24px;
          color: rgba(29, 31, 43, 0.5);
          font-family: 'PingFangSC-Regular';
          line-height: 34px;
        }
        .red {
          color: rgb(226, 52, 52);
          .litter {
            font-size: 24px;
            padding-right: 8px;
          }
          .big {
            font-size: 36px;
            font-family: 'JDZhengHei-01-Regular,PingFangSC-Medium';
            font-weight: bold;
          }
          .unit {
            font-size: 24px;
            font-weight: bold;
          }
        }
        .grey-price {
          font-size: 24px;
          color: rgba(29, 31, 43, 0.5);
          font-family: 'PingFangSC-Regular';
          .through {
            text-decoration: line-through;
            font-weight: bold;
            padding-left: 8px;
          }
        }
        .btn {
          position: absolute;
          right: 0;
          bottom: 28px;
          background: linear-gradient(
            to right,
            rgb(255, 109, 109),
            rgb(253, 50, 50)
          );
          width: 132px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          border-radius: 50px;
          color: #fff;
          font-size: 26px;
        }
      }
    }
  }
}
