//底部金额总计及去结算
.cart-button-component {
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  background: #fff;
  border-top: 1px solid #e6e6e6;

  .cart-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
  }

  .left-part {
    height: 100px;
    line-height: 100px;
    margin: 0 20px 0 40px;
    width: 100px;
    display: inline-block;

    .left-set {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .check {
      width: 34px;
      height: 34px;
      background-image: url(//m.360buyimg.com/img/jfs/t1/55057/40/5126/531/5d2d6ce8E862911e7/ea68b80f3639e3e4.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    .checked {
      background-image: url(//m.360buyimg.com/img/jfs/t1/151419/2/789/2020/5f61c3aeE0d5e9cb9/6d8b928fe429f991.png);
    }

    .check-txt {
      display: inline-block;
      font-size: 24px;
      font-family: 'PingFangSC-Medium';
      color: #252525;
      padding-left: 10px;
    }
  }

  .bottom-sub-main {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    width: 400px;

    .bottom-sub-main-top {
      height: 55px;
      line-height: 55px;

      text {
        margin-right: 16px;
        color: rgb(37, 37, 37);
      }

      view {
        display: inline-block;
        color: #e23434;
      }
    }

    .bottom-sub-main-bottom {
      height: 45px;
      line-height: 1;
      color: rgb(37, 37, 37);
      font-size: 22px;

      view {
        display: inline-block;
      }

      .discounts-txt {
        margin-left: 5px;
      }
    }
  }

  .mt20 {
    margin-top: 20px;
  }

  .right-part {
    text-align: center;
    width: 200px;
    height: 100px;
    line-height: 100px;
    display: inline-block;

    .sub-btn {
      background: linear-gradient(
        306deg,
        rgba(53, 198, 70, 1) 0%,
        rgba(103, 208, 78, 1) 100%
      );
      // border-top: 1px solid #002c3e;
      width: 200px;
      line-height: 100px;
      font-family: 'PingFangSC-Medium';

      .txt-34 {
        display: inline-block;
        color: #fff;
        font-size: 34px;
      }
    }

    .disabled {
      background: #d7d7d7;
      border-top: 1px solid #d7d7d7;
    }
  }
}
