@import '../../../../common/theme.scss';
.about-products {
  .title-box {
    position: relative;

    .add-all_btn {
      position: absolute;
      top: 50%;
      right: 30px;
      box-sizing: border-box;
      min-width: 172px;
      padding: 0 20px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background:$btnColor;
      border-radius: 30px;
      font-family: PingFangSC-Regular;
      font-size: 26px;
      color: rgba(255, 255, 255, 1);
      transform: translateY(-50%);
    }
  }
}
