.fight-list-product {
  width: 650px;
  padding: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background: #fff;
  margin: 0 auto 28px;
  border-radius: 10px;
  .img {
    width: 226px;
    height: auto;
    overflow: hidden;
    margin-right: 22px;
  }
  .right {
    width: 420px;
    height: 252px;
    display: flex;
    flex-direction: column;
    .title {
      width: 420px;
      margin-bottom: 10px;
      // height: 88px;
      color: rgb(29, 31, 43);
      font-family: "PingFangSC-Medium";
      font-size: 32px;
      line-height: 40px;
      .new {
        display: inline-block;
        background: linear-gradient(90deg, #ff6d6d, #fd3232);
        border-radius: 0 15px 0 15px;
        padding: 0 10px;
        height: 31.4px;
        line-height: 31.4px;
        color: #fff;
        font-size: 18px;
        font-family: "PingFangSC-Regular";
        margin-right: 10px;
        text-align: center;
        position: relative;
        top: -5px;
      }
      .name {
        position: relative;
        top: 2px;
      }
    }
    .desc {
      color: rgba(29, 31, 43, 0.5);
      font-size: 24px;
      font-family: "PingFangSC-Regular";
      padding: 4px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .top {
      flex: 1;
    }
    .team {
      font-family: "PingFangSC-Regular";
      font-size: 20px;
      margin: 8px 0;
      height: 30px;
      .user {
        color: #fff;
        background: linear-gradient(
          to right,
          rgb(255, 109, 109),
          rgb(253, 50, 50)
        );
        padding: 0 12px;
        border: 1px solid rgb(254, 50, 50);
        border-radius: 0 0 0 20px;
      }
      .number {
        padding: 0 12px;
        color: rgb(254, 50, 50);
        background: #fff;
        border: 1px solid rgb(254, 50, 50);
        border-radius: 0 20px 20px 0;
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 20px;
      margin-bottom: 22px;
      .left-price {
        width: 294px;
        .top {
          line-height: 30px;
          color: rgb(226, 52, 52);
          .user {
            font-size: 26px;
            font-family: "PingFangSC-Medium";
            padding-right: 12px;
          }
          .icon {
            font-family: "JDZhengHei-01-Regular,Helvetica";
            font-size: 30px;
          }
          .red {
            font-family: "HelveticaNeue-Medium";
            font-size: 40px;
            line-height: 20px;
            font-weight: 500;
          }
        }
      }
      .left-base {
        font-family: "PingFangSC-Regular";
        font-size: 24px;
        color: rgb(29, 31, 43);
        opacity: 0.5;
        margin-top: 6px;
        .txt {
          font-family: "JDZhengHei-01-Regular,Helvetica";
          text-decoration: line-through;
          font-weight: bold;
        }
      }
      .button {
        padding: 0 26px;
        box-sizing: border-box;
        border-radius: 28px 0px 28px 28px;
        font-size: 26px;
        font-family: "PingFangSC-Medium";
        height: 56px;
        line-height: 56px;
        text-align: center;
        width: 148px;
      }
      .ok,
      .visited {
        background: linear-gradient(
          to right,
          rgb(255, 109, 109),
          rgb(253, 50, 50)
        );
        color: #fff;
      }
      .visited {
        width: 120px;
      }
      .disabled {
        background: rgb(243, 243, 243);
        color: rgb(187, 187, 187);
        padding: 0;
        width: 150px;
      }
    }
  }
}
button::after {
  border: none;
}
