.filter-item {
  background: #fff;
  margin-bottom: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.03);

  .grey {
    font-size: 24px;
  }

  .red {
    color: #ee5f5f;
    font-weight: bold;
  }

  .red.disabled {
    color: rgba(136, 136, 136, 0.6);
  }

  &.invalid-cont {
    margin-bottom: 10px;
  }

  .em {
    font-style: normal;
  }

  /* item整体 */
  .promotion {
    background-color: #fffdfa;
  }

  &:last-child {
    border-bottom: none;
  }

  .addMoneySkuInfo-jiajiagou-order {
    margin-top: -11px;
    padding-top: 12px;

    .jiajiagou-order-skunum {
      position: absolute;
      right: 0.26666667rem;
      bottom: 0;
      width: 0.82666667rem;
      text-align: right;
      color: #898989;
      font-size: 22px;
    }
  }

  /* 商品信息 */
  .cart-items {
    margin: 0 10px;

    /* border-bottom: 1px solid rgba(112, 112, 112, 0.1); */
    .left-part-icon {
      display: inline-block;
      vertical-align: top;
      width: 76px;
      height: auto;
      text-align: center;
      padding-top: 68px;
      padding-right: 4px;

      text {
        display: inline-block;
        font-size: 22px;
        color: #898989;
        border-top-left-radius: 50px;

        /* 左上角 */
        border-top-right-radius: 50px;

        /* 右上角 */
        border-bottom-right-radius: 50px;

        /* 右下角 */
        border-bottom-left-radius: 50px;

        /* 左下角 */
        background-clip: padding-box;
        background-color: #fff;
        padding: 10px 10px;
        line-height: 15px;
        vertical-align: top;
      }
    }

    .left-part {
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
      margin-right: 28px;

      .label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-top: 66px;

        text {
          display: inline-block;
          width: 34px;
          height: 34px;
          background: url(//m.360buyimg.com/img/jfs/t1/55057/40/5126/531/5d2d6ce8E862911e7/ea68b80f3639e3e4.png)
            no-repeat;
          background-position: center;
          background-size: 100%;
          vertical-align: middle;
        }

        .checked {
          background-image: url(//m.360buyimg.com/img/jfs/t1/151419/2/789/2020/5f61c3aeE0d5e9cb9/6d8b928fe429f991.png);
        }
      }
    }

    .right-part {
      display: inline-block;
      vertical-align: top;
      overflow: hidden;

      .items-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .items-detail {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-left: 32px;
          width: 458px;

          .weightSku .grey {
            color: #8a8a8a;
          }

          .goods-name {
            font-family: 'PingFangSC-Medium';
            font-size: 26px;
            height: 36px;

            text {
              display: inline-block;
              height: 36px;
              font-size: 26px;
              color: #252525;
              width: 340px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &.disabled {
                color: rgba(136, 136, 136, 0.6);
              }
            }
          }

          .goods-specification {
            display: block;

            .goods-s-d {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              color: rgba(136, 136, 136, 0.6);
              font-size: 20px;
            }

            .icon-question {
              width: 26px;
              height: 26px;
              background: url(//m.360buyimg.com/img/jfs/t14224/20/1052077416/1628/92d8f99b/5a450991Nfa210c47.png)
                no-repeat;
              display: block;
              background-size: 26px 26px;
              margin-left: 20px;
            }

            .goods-jg {
              width: 64%;
              display: -webkit-box;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }

            text.iconQuestion {
              display: inline-block;
              width: 40px;
              height: 40px;
              font-size: 36px;
              vertical-align: text-top;
              background-image: url(//m.360buyimg.com/img/jfs/t14224/20/1052077416/1628/92d8f99b/5a450991Nfa210c47.png);
              background-repeat: no-repeat;
              background-size: 30px 30px;
              background-position: center;
            }

            p:first-child {
              margin-top: 2px;
              margin-bottom: -2px;
            }
          }

          .promotion-flag {
            text.overnight-delivery {
              display: inline-block;
              height: 28px;
              line-height: 30px;
              font-size: 20px;
              margin-right: 10px;
              background: rgba(235, 255, 231, 1);
              color: #69ab5b;
              padding: 0 6px;
              border: 1px solid rgba(137, 210, 122, 1);
              border-radius: 18px 1px 18px 1px;
            }
          }

          .original-price {
            height: 24px;
            font-size: 22px;
            color: #bfbfbf;
            text-decoration: line-through;
            width: 200px;
          }

          .goods-price {
            width: 200px;
            height: 50px;
            line-height: 50px;
            color: #8a8a8a;
            font-family: 'PingFangSC-Regular';
            margin-left: 4px;
            font-size: 20px;

            .red {
              color: #ee5f5f;
              margin-left: 4px;
              font-family: 'PingFangSC-Medium';
              font-size: 24px;
            }

            .red,
            text {
              &.disabled {
                color: rgba(136, 136, 136, 0.6);
              }
            }
          }

          .notes-price {
            display: inline-block;
            font-family: 'PingFangSC-Medium';
            font-size: 24px;
            color: #252525;

            .em {
              display: inline-block;
              color: #e23434;
              font-weight: bold;
              margin-left: 4px;
            }

            &.disabled {
              text,
              .em {
                color: #bfbfbf;
              }
            }
          }

          .operate {
            position: absolute;
            top: 178px;
            right: -15px;

            .subtract,
            .add {
              display: inline-block;
              width: 50px;
              height: 50px;
              vertical-align: middle;
            }

            .subtract {
              background-image: url(//m.360buyimg.com/img/jfs/t1/54409/27/5210/133/5d2d8302Ededb4fb5/9d540da8d21f8048.png);
              background-repeat: no-repeat;
              background-position: right center;
              background-size: 24px 4px;
              margin-right: 20px;

              &.active {
                background-image: url(//m.360buyimg.com/img/jfs/t1/80160/37/4674/143/5d2d831dE3608ccb6/4c3331a27acca320.png);
              }
            }

            .add {
              background-image: url(//m.360buyimg.com/img/jfs/t1/80961/40/4698/284/5d2d8282Ea5acb15c/794e2dddc9f32e63.png);
              background-repeat: no-repeat;
              background-position: left center;
              background-size: 24px 24px;
              margin-left: 20px;

              &.active {
                background-image: url(//m.360buyimg.com/img/jfs/t1/66379/2/4558/284/5d2d82a3E8a92a0fc/2558a222903c216b.png);
              }
            }

            .tel {
              vertical-align: middle;
              display: inline-block;
              min-width: 76px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              padding: 0 4px;
              box-sizing: border-box;
              background-color: #f6f6f6;

              input {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 70.2px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                border: none;
                border: 0;
                font-size: 24px;
                color: #232326;
                background: #fff;

                &[disabled] {
                  color: #000;
                  opacity: 1;
                }

                &.disable[disabled] {
                  color: #232325;
                  opacity: 0.5;
                }
              }
            }
          }

          .items-detail-bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }

          .limit-count {
            display: inline-block;
            height: 30px;
            font-size: 24px;
            color: #898989;
          }
        }

        .opacity-img .purchase-flag {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          font-size: 24px;
          color: #fff;
          background: rgba(0, 0, 0, 0.8);
          width: 90px;
          height: 48px;
          line-height: 48px;
          text-align: center;
          border-radius: 20px;
        }

        .opacity-img {
          opacity: 0.6;
          position: relative;
        }

        .items-img {
          display: inline-block;
          position: relative;
          width: 161px;
          height: 161px;

          .sold-out {
            display: inline-block;
            background: rgba(0, 0, 0, 0.5);
            padding: 6px 30px 6px 30px;
            color: #fff;
          }

          .pre-sale-icon {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: 113px;
            height: 30px;
            background-image: url(//m.360buyimg.com/img/jfs/t20044/87/880491413/8515/834fc4da/5b0e6f6fN4913bfcd.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            vertical-align: middle;
          }

          .sold-out-icon {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 106px;
            height: 42px;
            text-align: center;
            z-index: 11;
            border-radius: 18px;
            font-size: 22px;
          }

          .image {
            width: 161px;
            height: 161px;
          }

          .disable-icon {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 162px;
            height: 52px;
            text-align: center;
            z-index: 2;
            border-radius: 18px;
            font-size: 22px;
          }

          .no-stock {
            background: rgba(0, 0, 0, 0.5);
            padding: 6px 30px 6px 30px;
            color: #fff;
          }
        }
      }
    }

    .bottom-part {
      padding: 30px 0;
      display: flex;
      flex-direction: row;

      &.zp-list {
        border-bottom: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .zengpin-detail-part {
      position: relative;
      clear: both;
      height: 110px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .zengpin-info {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;

        &.jiajiagou-zengpin {
          .jjg-zengpin-name {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 22px;
            color: #252525;
          }

          .del-jiajiagou {
            position: absolute;
            top: 0;
            right: 0;
            width: 62px;
            text-align: right;
            display: inline-block;
            font-size: 26px;
            color: #898989;
          }
        }
      }

      .zengpin-specification {
        padding-top: 20px;
        font-size: 24px;
        color: #898989;
      }
    }

    .item-opera {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      width: 400px;
      margin-top: 40px;
    }
  }

  .top-part {
    padding-top: 28px;
    padding-left: 10px;
    padding-bottom: 28px;
    box-sizing: border-box;
    border-bottom: 2px solid #f7f7f7;

    .explain {
      font-family: 'PingFangSC-Regular';
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-left {
        flex: 1;
      }

      .promotion-icon {
        display: inline-block;
        width: auto;
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        border: 1px solid rgba(251, 112, 112, 1);
        border-radius: 18px 1px 18px 1px;
        color: #fb7070;
        background: rgba(251, 112, 112, 0.05);
        margin-right: 10px;
        font-size: 20px;
      }

      .promotion-txt {
        display: inline-block;
        font-size: 22px;
        color: #252525;
      }
    }
  }

  /* 赠品列表 */
  .zengpin-list {
    padding: 0 30px 30px;

    .zengpin-detail {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
    }

    .zengpin-detail-part {
      position: relative;
      clear: both;
      height: 110px;

      .zengpin-info {
        padding-left: 20px;

        .zengpin-name {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }

        .promotion-info-flag {
          display: inline-block;
          width: 60px;
          height: 28px;
          line-height: 27px;
          text-align: center;
          margin-right: 9px;
          background: rgba(251, 112, 112, 0.05);
          border: 1px solid rgba(251, 112, 112, 1);
          border-radius: 18px 1px 18px 1px;
          color: #ee5f5f;
          font-size: 20px;
          box-sizing: border-box;
        }

        .promotion-goods-name-txt {
          display: inline-block;
          height: 28px;
          line-height: 28px;
          width: 400px;
          font-size: 24px;
          color: #252525;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        .zengpin-specification {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-size: 22px;
          color: rgb(137, 137, 137);

          view {
            display: inline-block;
          }

          .zengpin-num {
            padding-left: 20px;
          }

          .text {
            font-size: 24px;
            color: #898989;
          }
        }
      }
    }
  }

  .suit-detail-btn {
    width: 200px;
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 12px;
    color: #898989;
  }

  .suit-detail-flag {
    margin-left: 10px;
    display: inline-block;
    width: 20px;
    height: 32px;
    overflow: hidden;
    background-image: url(//m.360buyimg.com/img/jfs/t23869/253/485491499/308/8be1b69a/5b31a719Ne789fa79.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: sub;

    &.down {
      background-image: url(//m.360buyimg.com/img/jfs/t23311/114/477390763/322/65d5b704/5b31ad46Nfa9b881e.png);
    }
  }

  .none-price {
    color: rgba(136, 136, 136, 0.6);
    font-size: 24px;
    padding-top: 20px;
  }

  .zengpin-img {
    width: 110px;
    height: 110px;

    .zp-image {
      width: 110px;
      height: 110px;
    }
  }
}
