::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
.fight-list-page {
  background: #ffdacc;
  .fight-list-top {
    text-align: center;
    color: #252525;
    font-size: 0;
    margin-bottom: 14px;
    .title {
      padding-top: 20px;
      font-weight: 500;
      font-size: 54px;
      font-family: "PingFangSC-Medium";
    }
    .description {
      font-size: 28px;
      font-family: "PingFangSC-Medium";
    }
  }
  .fight-list-count {
    position: relative;
    width: 712px;
    min-height: 30px;
    margin: 0 auto;
    // height:100px;
    .main {
      width: 689px;
      height: 100px;
      background: #fff;
      border-radius: 50px;
      line-height: 100px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .text {
      color: rgb(29, 31, 43);
      font-size: 28px;
      font-family: "PingFangSC-Regular";
      margin-right: 28px;
    }
  }
  .fight-list {
    position: relative;
  }
  .fight-list-bottom {
    position: relative;
    top: -20px;
    font-size: 24px;
    color: rgb(137, 137, 137);
    font-family: "PingFangSC-Medium";
    text-align: center;
    height: 100px;
    line-height: 80px;
  }
  .none-tip {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    font-size: 26px;
    color: rgb(0, 181, 15);
    background: rgb(229, 247, 231);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    .green-address {
      width: 28px;
      height: 28px;
      margin-top: 26px;
      margin-left: 28px;
      margin-right: 6px;
    }
    .green-right-more {
      width: 12px;
      height: 20px;
      margin-top: 30px;
      margin-left: 40px;
    }
    .none-description {
      width: 600px;
    }
  }
  .go-top {
    position: fixed;
    right: 30px;
    bottom: 100px;
    z-index: 4;
  }
}
