.detail {
  width: 100vw;
  height: 100vh;
  .detail-top-box {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .detail-top-video {
    width: 750px;
    height: 440px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .user-box {
    margin-top: 20px;
    padding: 0 30px;
  }
  .scroll-body {
    position: fixed;
    top: 440px;
    bottom: 110px;
    left: 0;
    right: 0;
  }
}
