.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
}

.title-container {
  height: 40Px; //
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fff;
}

.back-btn {
  position: absolute;
  top: 0;
  left: 10Px; //
  width: 40Px; //
  height: 40Px; //
}

.back-btn .image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40Px; //
  height: 40Px; //
  transform: translate(-50%, -50%);
}

.tab-list-title {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-name {
    width: 340px;
    text-align: center;
    font-size: 28px;
    color: rgb(29, 31, 43);
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;

    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }

  .title-ext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .title-ext-info {
      font-size: 24px;
      color: rgb(101, 103, 107);
    }

    .title-line {
      width: 2px;
      height: 14px;
      background: rgba(101, 103, 107, 1);
      border-radius: 1px;
      margin: 0 10px;
    }
  }
}

#tab-list-space {
  width: 750px;
  height: 20px;
  background: #fff;
}

.tab-list-container {
  width: 750px;
  height: 90px;

  .tab-list {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 90px;
    border-bottom: 1px solid rgba(251, 251, 251, 0.5);
    background: #fff;

    .tab {
      display: flex;
      flex: 1;

      .tab-name {
        position: relative;
        height: 90px;
        line-height: 90px;
        font-size: 30px;
        font-weight: bold;
        color: rgb(29, 31, 43);
        width: 112px;
        text-align: center;
      }

      .tab-name.cur {
        font-size: 32px;
        color: rgb(2, 181, 14);
        position: relative;

        .line {
          width: 50px;
          height: 4px;
          background:
            linear-gradient(
              270deg,
              rgba(2, 181, 14, 1) 0%,
              rgba(11, 201, 0, 1) 100%
            );
          border-radius: 2px;
          position: absolute;
          margin: auto;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    .tab.left {
      justify-content: flex-end;
      padding-right: 64px;
    }

    .tab.right {
      justify-content: flex-start;
      padding-left: 64px;
    }
  }
}

.fix {
  width: 750px;
  height: 90px;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 20px 0 rgba(173, 175, 174, 0.12);
}
