.goods-container {
  width: 750px;
  overflow-x: scroll;
  flex: 1;
  -webkit-overflow-scrolling: touch;

  .scroll-wrap {
    display: flex;
    flex-wrap: nowrap;

    .goods-list {
      margin-left: 28px;
      display: inline-flex;
      flex-direction: row;

      .goods-wrap {
        width: 420px;
        height: 100px;
        margin-right: 10px;
        background: rgb(249, 249, 249);
        display: flex;
        flex-direction: row;
        border-radius: 8px;

        .img-container {
          position: relative;
          width: 100px;
          height: 100px;

          .status-icon {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 64px;
            height: 32px;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 16px;
            font-size: 20px;
            color: #fff;
          }

          .img {
            width: 100px;
            height: 100px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
        }

        .goods-info {
          width: 240px;
          height: 100px;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          text-align: left;

          .goods-name {
            text-align: left;
            //flex: 1;
            font-size: 24px;
            color: rgb(37, 37, 37);
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;

            /*! autoprefixer: ignore next */
            -webkit-box-orient: vertical;
            padding-top: 14px;
          }

          .goods-price {
            flex: 1;
            font-size: 28px;
            font-weight: bold;
            color: rgba(225, 37, 27, 1);
            display: flex;
            align-items: center;
          }
        }

        .goods-button {
          display: flex;
          width: 80px;
          height: 100px;
          justify-content: center;
          align-items: center;

          .button {
            width: 40px;
            height: 40px;
            background-image: url('https://m.360buyimg.com/img/jfs/t1/117343/29/17688/2389/5f608000E46128747/5ef88878a709fffa.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }

          .button.disable {
            background-image: url('https://m.360buyimg.com/img/jfs/t1/121094/29/1932/1438/5ec22ee5E5be99fe1/125f3d83b99e19aa.png');
          }
        }
      }
    }
  }
}
