.fight-list-product {
  position: relative;
  width: 642px;
  height: 260px;
  padding: 20px 38px 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background: #fff;
  margin: 0 auto 20px;
  border-radius: 10px;

  .img {
    width: 216.8px;
    height: auto;
    // overflow: hidden;
    margin-right: 28px;
    position: relative;

    .product-warm-tag {
      width: 52px;
      height: 52px;
      position: absolute;
      top: 10px;
      right: 10px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/119521/21/9938/5926/5efeeca6E62b6f52f/e82737045b2c9526.png)
        no-repeat;
      background-size: 100% 100%;
    }
  }

  .right {
    width: 420px;
    margin-top: 13px;

    .title {
      width: 420px;
      // height:88px;
      overflow: hidden;
      color: rgb(29, 31, 43);
      font-family: 'PingFangSC-Medium';
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 8px;

      .new {
        display: inline-block;
        background: linear-gradient(90deg, #ff6d6d, #fd3232);
        border-radius: 0 15px 0 15px;
        padding: 0 12px;
        height: 31.4px;
        line-height: 31.4px;
        color: #fff;
        font-size: 18px;
        font-family: 'PingFangSC-Regular';
        margin-right: 10px;
        text-align: center;
      }

      .name {
        position: relative;
        top: 3px;
      }
    }

    .desc {
      color: rgba(29, 31, 43, 0.5);
      font-size: 24px;
      font-family: 'PingFangSC-Regular';
      padding-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .team {
      font-family: 'PingFangSC-Regular';
      font-size: 20px;
      margin: 0 0 26px 0;
      height: 28px;

      .fight-user {
        color: #fff;
        background:
          linear-gradient(
            to right,
            rgb(255, 109, 109),
            rgb(253, 50, 50)
          );
        padding: 0 12px;
        border: 1px solid rgb(254, 50, 50);
        border-radius: 0 0 0 20px;
        // box-shadow: 0 4px 8px rgba(237, 137, 137, 0.5);
      }

      .alreadyNum {
        padding: 0 18px;
        color: rgb(254, 50, 50);
        background: #fff;
        border: 1px solid rgb(254, 50, 50);
        border-radius: 0 20px 20px 0;
        // box-shadow: 0 4px 8px rgba(237, 137, 137, 0.5);
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      .left-price {
        width: 294px;

        .top {
          line-height: 30px;
          color: rgb(226, 52, 52);

          .fight-user {
            font-size: 24px;
            font-family: 'PingFangSC-Medium';
            padding-right: 8px;
          }

          .icon {
            font-family: 'JDZhengHei-01-Regular,Helvetica';
            font-size: 30px;
            padding-right: 10px;
          }

          .red {
            font-family: 'JDZhengHei-01-Regular,Helvetica';
            font-size: 40px;
            line-height: 20px;
            font-weight: 500;
          }
        }
      }

      .left-base {
        font-family: 'PingFangSC-Regular';
        font-size: 24px;
        color: rgb(29, 31, 43);
        opacity: 0.5;

        .txt {
          font-family: 'JDZhengHei-01-Regular,Helvetica';
          text-decoration: line-through;
          font-weight: bold;
        }
      }

      .button {
        position: absolute;
        right: 40px;
        bottom: 30px;
        padding: 0 26px;
        border-radius: 30px;
        font-size: 26px;
        font-family: 'PingFangSC-Regular';
        height: 60px;
        line-height: 60px;
        text-align: center;
        width: 140px;
      }

      .ok,
      .visited {
        background:
          linear-gradient(
            to right,
            rgb(255, 109, 109),
            rgb(253, 50, 50)
          );
        color: #fff;
      }

      .visited {
        width: 180px;
      }

      .disabled {
        background: rgb(243, 243, 243);
        color: rgb(187, 187, 187);
      }
    }
  }
}

button::after {
  border: none;
}
