.num-selector {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-selector text {
  display: inline-block;
}

.num-selector .num-selector-less {
  width: 28px;
  height: 28px;
  padding: 10px;
  background: url(//m.360buyimg.com/img/jfs/t1/124149/22/10103/1460/5f3de6cdE0eaa9379/af5603f18b846a39.png)
    center center no-repeat;
  background-size: cover;
}

.num-selector .num-selector-num {
  min-width: 90px;
  padding: 0 6px;
  height: 72px;
  line-height: 72px;
  margin: 0 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 32px;
  color: rgb(37, 37, 37);
}

.num-selector .num-selector-plus {
  width: 28px;
  height: 28px;
  padding: 10px;
  background: url(//m.360buyimg.com/img/jfs/t1/134854/6/7479/1616/5f3de6a0E2a91659b/8200da1da299ebcf.png)
    center center no-repeat;
  background-size: cover;
}

.num-selector .num-selector-less-disabled {
  background: url(//m.360buyimg.com/img/jfs/t1/126610/7/10090/1411/5f3de6c1Ea23961e5/68a42ad8ecc1f888.png)
    center center no-repeat;
  background-size: cover;
}

.num-selector .num-selector-plus-disabled {
  background: url(//m.360buyimg.com/img/jfs/t1/128178/37/10042/1572/5f3de6afE241d413f/6ac5d50de36d35f8.png)
    center center no-repeat;
  background-size: cover;
}
