.pay-detail-box-wrapper {
  box-sizing: border-box;
  width: 460px;
  margin: 0 auto;
  padding-bottom: 40px;

  .pay-detail-box {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .pay-detail-item {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      color: rgb(37, 37, 37);
      padding: 10px 0;

      .content {
        color: rgba(225, 37, 27, 1);
      }
    }
  }
}
