$specline: 'https://m.360buyimg.com/img/jfs/t1/7309/19/15247/1786/5c6d43fcE1d0e8016/24c1adfe7b8413de.png';
$arrowIcon: 'https://m.360buyimg.com/img/jfs/t1/18090/3/7453/633/5c6d43fcE463f71a1/f50a2dba61c11f6b.png';
$shareBtnIcon: 'https://m.360buyimg.com/img/jfs/t1/16119/9/10297/9569/5c85c7f1E7ac2f4e7/f601fc8040f41e04.png';
$bgColor: #f7f8fa;
$titleColor: rgb(37, 37, 37);

.bill-list {
  min-height: 100vh;
  position: relative;
  display: flex;
  background-image: linear-gradient(to bottom, #fff, $bgColor);

  .title,
  .menu-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dot {
    position: absolute;
    top: 26px;
    left: -38px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(0, 105, 140);
  }

  .bg,
  .spec-line,
  .arrow-icon,
  .share-btn {
    background-repeat: no-repeat;
    background-size: 100%, 100%;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 496px;
    background-position-y: -128px;
    z-index: 1;
  }

  .line {
    position: relative;
    z-index: 10;
    width: 2px;
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 105, 140, 0.2),
        rgba(42, 98, 149, 0.2)
      );
    margin: 160px 30px 0;

    .spec-line {
      position: absolute;
      bottom: 20px;
      left: -1px;
      width: 24px;
      height: 110px;
      background-image: url($specline);
      background-color: $bgColor;
    }
  }

  .content {
    position: relative;
    z-index: 20;

    .header {
      margin-top: 120px;
      position: relative;
      margin-bottom: 80px;

      .title {
        height: 74px;
        line-height: 74px;
        font-family: STSongti-SC-Black;
        font-size: 52px;
        color: $titleColor;
        margin-bottom: 10px;
      }

      .sub-title {
        height: 40px;
        line-height: 40px;
        font-family: PingFangSC-Regular;
        font-size: 28px;
        color: $titleColor;
      }

      .dot {
        opacity: 0.3;
      }
    }

    .menu-other {
      display: flex;
      padding-bottom: 22px;
      flex-wrap: wrap;

      .menu-item {
        padding-bottom: 40px;
      }

      .menu-other-img {
        width: 212px;
        height: 212px;
        border-radius: 4px;
        margin-right: 10px;
      }

      .menu-other-img:nth-child(3n) {
        margin-right: 0;
      }

      .menu-item-name {
        width: 212px;
        height: 40px;
        // line-height: 40px;
        font-family: PingFangSC-Semibold;
        font-size: 28px;
        color: $titleColor;
      }
    }
  }

  .menu-today {
    margin-bottom: 62px;
  }

  .bottom {
    margin-bottom: 58px;
    height: 40px;
    font-family: STSongti-SC-Regular;
    font-size: 28px;
    color: $titleColor;
    display: flex;
    align-items: center;

    .arrow-icon {
      width: 32px;
      height: 32px;
      background-image: url($arrowIcon);
      margin-left: 20px;
    }
  }

  .share-btn {
    position: fixed;
    top: 28px;
    right: 28px;
    width: 158px;
    height: 68px;
    line-height: 68px;
    border-radius: 200px 0 0 200px;
    background-color: #d5dee9;
    font-family: PingFangSC-Regular;
    color: rgb(52, 91, 143);
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
  }

  .share-btn::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background:
      url(https://m.360buyimg.com/img/jfs/t1/16319/33/10178/566/5c85f8efE9bdd20e2/87f631e72c4f4667.png)
      no-repeat;
    background-size: 100%;
  }

  .share-btn::after {
    border: none;
  }
}
