.container {
  display: flex;
  flex-direction: column;
  background: rgb(251, 251, 251);

  .top-cover {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 750px;
    z-index: 3;
    //box-shadow: 0 1px 0 0 rgba(247, 247, 247, 1);
  }

  .main {
    background: #fff;

    .post-btn-container {
      position: relative;
      width: 750px;
      height: 90px;
      border-bottom: 1px solid rgb(236, 236, 236);
      margin-bottom: 24px;

      .post-btn {
        position: absolute;
        margin: auto;
        top: 0;
        right: 30px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 116px;
        height: 48px;
        background:
          linear-gradient(
            270deg,
            rgba(2, 181, 14, 1) 0%,
            rgba(11, 201, 0, 1) 100%
          );
        border-radius: 24px;
        font-size: 24px;
        color: #fff;
      }
    }

    .upload-imgs-container {
      display: flex;
      align-items: center;
      height: 210px;

      .upload-imgs {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        padding-left: 30px;

        .upload-img-list {
          display: flex;
          flex-direction: row;
          position: relative;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 160px;
          padding-right: 10px;

          .upload-img {
            width: 160px;
            height: 160px;
            border-radius: 8px;
          }

          .del-img {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: center;
            background-image: url('https://m.360buyimg.com/img/jfs/t1/111112/35/5585/511/5eb4ca02Efca96d00/bfd8c2c594e903d4.png');
          }
        }

        .upload-img-list:last-child {
          padding-right: 30px;

          .del-img {
            right: 30px;
          }
        }
      }

      .real-card-img {
        width: 160px;
        height: 160px;
        border-radius: 8px;
        padding-right: 30px;
      }
    }

    .title {
      width: 690px;
      height: 110px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgb(236, 236, 236);

      .title-input {
        width: 690px;
        height: 110px;
        font-size: 32px;
        color: rgb(37, 37, 37);
        overflow-x: auto;
      }

      .title-input-max {
        font-size: 24px;
        color: rgb(218, 218, 218);
      }
    }

    .content {
      position: relative;
      height: 300px;

      .content-text-area {
        width: 690px;
        height: 190px;
        margin: 0 auto;
        padding-top: 32px;
        font-size: 28px;
        color: rgb(37, 37, 37);
        overflow-y: auto;
      }

      .topic-name {
        position: absolute;
        bottom: 20px;
        left: 40px;
        display: flex;
        flex-direction: row;
        font-size: 24px;
        color: rgb(86, 136, 230);
        padding: 6px 8px;
        background: rgba(124, 169, 255, 0.08);
        border-radius: 8px;
        z-index: 2;

        .topic-name-icon {
          width: 28px;
          height: 28px;
          margin-right: 10px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/108440/7/16551/1321/5eb3b9d1Ef61107d7/77c963d519451631.png');
        }
      }

      .content-max {
        position: absolute;
        right: 40px;
        bottom: 20px;
        font-size: 24px;
        color: rgb(218, 218, 218);
      }
    }
  }

  .items-container {
    height: auto;
    margin-top: 19px;

    .items-list-title {
      width: 750px;
      height: 90px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: #fff;

      .left {
        padding-left: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
          width: 28px;
          height: 90px;
          background-repeat: no-repeat;
          background-size: 28px 34px;
          background-position: center;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/129496/19/76/1118/5eb3672fE571d121c/b027e41fcef04e75.png');
        }

        .txt {
          padding-left: 14px;
          font-size: 28px;
          color: rgb(29, 31, 43);
        }
      }

      .right {
        padding-right: 34px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .txt {
          font-size: 24px;
          color: rgba(149, 150, 159, 1);
          padding-right: 7px;
        }

        .icon {
          width: 10px;
          height: 90px;
          background-repeat: no-repeat;
          background-size: 10px 18px;
          background-position: center;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/119892/2/130/333/5eb3682dE1262c237/d43c05c1598c0980.png');
        }
      }
    }

    .items-list {
      width: 750px;
      margin: 0 auto;
      //background: #fff;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 110px;

      .items-wrap-container {
        width: 750px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;

        .items-wrap {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid rgb(236, 236, 236);
          width: 690px;
          height: 110px;

          .items-img {
            width: 80px;
            height: 80px;
            border-radius: 8px;
            background: rgb(247, 247, 247);
          }

          .items-info {
            padding-left: 10px;
            color: rgb(37, 37, 37);
            font-size: 24px;
            max-width: 540px;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;

            /*! autoprefixer: ignore next */
            -webkit-box-orient: vertical;
          }

          .del-items {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            width: 40px;
            height: 110px;
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: center;
            background-image: url('https://m.360buyimg.com/img/jfs/t1/108711/29/16889/302/5eb68ee5Eb3a80700/edd66cba8e390db0.png');
          }
        }
      }
    }

    .no-items {
      width: 750px;
      text-align: center;
      position: fixed;
      margin: auto;
      right: 0;
      bottom: 120px;
      left: 0;

      .no-items-img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('https://m.360buyimg.com/img/jfs/t1/122375/34/635/15306/5eb69113Ee25ce239/a2db4260ddfb08a5.png');
      }

      .no-items-txt {
        font-size: 28px;
        color: rgb(149, 150, 159);
        margin-top: 40px;
      }
    }
  }

  .rule {
    position: fixed;
    margin: auto;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 750px;
    height: 99px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(251, 251, 251);

    .rule-icon {
      width: 40px;
      height: 99px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-size: 24px 26px;
      background-position: center;
      background-image: url('https://m.360buyimg.com/img/jfs/t1/120974/29/343/1140/5eb4c938E50915700/b74462f43326f0eb.png');
    }

    .rule-icon.disabled {
      background-image: url('https://m.360buyimg.com/img/jfs/t1/120892/8/221/504/5eb3f2dbEe91cb92b/26a60f83d8a2d495.png');
    }

    .rule-title {
      font-size: 24px;
      color: rgb(101, 103, 107);
    }

    .rule-href-title {
      height: 99px;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: rgb(86, 136, 230);
    }
  }

  .imgage-container {
    //display: none;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .sw {
      position: relative;
      display: flex;
      width: 750px;
      justify-content: center;
      align-items: center;

      .swiper-item {
        width: 750px;
        height: 100%;
        top: 0;

        .img {
          width: 750px;
          height: 100%;
        }
      }

      .indicator-dots {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        font-size: 28px;
        color: #fff;
        width: 100px;
        height: 44px;
        line-height: 44px;
        text-align: center;
      }
    }

    .dot {
      background: #fff;
      width: 750px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .dot-icon {
        width: 8px;
        height: 8px;
        background: rgba(185, 186, 193, 0.3);
        border-radius: 50%;
        margin-right: 8px;
      }

      .dot-icon.cur {
        background: rgba(185, 186, 193, 1);
      }
    }

    .filter-img-btn {
      width: 100%;
      height: 200px;
      position: absolute;
      margin: auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background: rgb(0, 0, 0);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .filter-box,
      .cut-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .filter-img-icon {
          width: 50px;
          height: 50px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/114804/31/7301/1665/5ec2787fE0122359b/267dd792f6f7aa2c.png');
          background-size: 40px;
          background-position: center;
          background-repeat: no-repeat;
        }

        .cut-img-icon {
          width: 50px;
          height: 50px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/114021/18/8265/559/5eccc748Eccb1fa11/ee2cc40c5823bbdd.png');
          background-size: 40px;
          background-position: center;
          background-repeat: no-repeat;
        }

        .filter-img-txt {
          padding-top: 12px;
          font-size: 32px;
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  .filter-img-modal {
    //display: none;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

    .filter-img-modal-container {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 750px;
      height: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;

      .filter-img-modal-image {
        width: 750px;
        height: 1000px;
      }
    }

    .filter-img-modal-btn-container {
      width: 100%;
      height: 300px;
      background: #000;
      position: absolute;
      margin: auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;

      .filter-img-modal-btn-main {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        margin-top: 20px;

        .filter-img-modal-btn {
          display: inline-block;
          width: 112px;
          height: 112px;
          background: rgb(216, 216, 216);
          margin-left: 10px;
          margin-right: 10px;
        }

        .filter-img-modal-btn:first-child {
          margin-left: 20px;
        }

        .filter-img-modal-btn:last-child {
          margin-right: 20px;
        }
      }

      .filter-img-modal-btn-all {
        width: 750px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: rgb(101, 103, 107);

        .filter-img-modal-btn-all-icon {
          width: 42px;
          height: 42px;
          margin-right: 10px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/125683/8/2487/528/5ec61869Ed0e4767b/e43447ee352acb88.png');
          background-size: 24px;
          background-position: center;
          background-repeat: no-repeat;
        }

        .filter-img-modal-btn-all-icon.selected {
          background-image: url('https://m.360buyimg.com/img/jfs/t1/126332/29/2546/1137/5ec617e8Ead1a3f22/b15312ff87564a60.png');
        }
      }

      .filter-img-modal-btn-main-btns {
        width: 750px;
        height: 80px;
        background: #000;
        position: absolute;
        margin: auto;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .filter-img-modal-btn-main-btns-left {
          width: 60px;
          height: 80px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/116814/27/7827/438/5ec77a22Ea0ff8ef0/4aa9098bda6c609f.png');
          background-size: 40px;
          background-position: center;
          background-repeat: no-repeat;
          margin-left: 40px;
        }

        .filter-img-modal-btn-main-btns-txt {
          color: #fff;
          font-size: 32px;
        }

        .filter-img-modal-btn-main-btns-right {
          width: 60px;
          height: 80px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/121636/39/2582/360/5ec77a62Efe559299/1e210b3634b36769.png');
          background-size: 40px;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 40px;
        }
      }
    }
  }

  .cut-img-modal {
    //display: none;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

    .cut-img-modal-container {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 750px;
      height: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;

      .cut-img-modal-image {
        width: 750px;
        height: 1000px;
      }

      .cut-img-box {
        height: 1000px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .cut-img-box-shadow {
          width: 100%;
          height: 297px;
          background: rgba(0, 0, 0, 0.6);
        }

        .cut-img-box-main {
          width: 709px;
          height: 532px;
        }
      }
    }

    .cut-img-modal-btn-container {
      width: 100%;
      height: 300px;
      background: #000;
      position: absolute;
      margin: auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;

      .cut-img-modal-btn-main {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        margin-top: 20px;

        .cut-img-modal-btn {
          display: inline-block;
          width: 112px;
          height: 112px;
          background: rgb(216, 216, 216);
          margin-left: 10px;
          margin-right: 10px;
        }

        .cut-img-modal-btn:first-child {
          margin-left: 20px;
        }

        .cut-img-modal-btn:last-child {
          margin-right: 20px;
        }
      }

      .cut-ratio {
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-family: PingFangSC-Semibold;
        font-size: 32px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        margin-top: 66px;
      }

      .cut-img-modal-btn-all {
        width: 750px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: rgb(101, 103, 107);

        .cut-img-modal-btn-all-icon {
          width: 42px;
          height: 42px;
          margin-right: 10px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/125683/8/2487/528/5ec61869Ed0e4767b/e43447ee352acb88.png');
          background-size: 24px;
          background-position: center;
          background-repeat: no-repeat;
        }

        .cut-img-modal-btn-all-icon.selected {
          background-image: url('https://m.360buyimg.com/img/jfs/t1/126332/29/2546/1137/5ec617e8Ead1a3f22/b15312ff87564a60.png');
        }
      }

      .cut-img-modal-btn-main-btns {
        width: 750px;
        height: 80px;
        background: #000;
        position: absolute;
        margin: auto;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .cut-img-modal-btn-main-btns-left {
          width: 60px;
          height: 80px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/116814/27/7827/438/5ec77a22Ea0ff8ef0/4aa9098bda6c609f.png');
          background-size: 40px;
          background-position: center;
          background-repeat: no-repeat;
          margin-left: 40px;
        }

        .cut-img-modal-btn-main-btns-txt {
          color: #fff;
          font-size: 32px;
        }

        .cut-img-modal-btn-main-btns-right {
          width: 60px;
          height: 80px;
          background-image: url('https://m.360buyimg.com/img/jfs/t1/121636/39/2582/360/5ec77a62Efe559299/1e210b3634b36769.png');
          background-size: 40px;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 40px;
        }
      }
    }
  }
}
