.pubtime-icon {
  position: absolute;
  top: -8rpx;
  right: 20rpx;
  z-index: 1;
  width: 84rpx;
  height: 64rpx;
  background: url("https://m.360buyimg.com/img/jfs/t1/47209/39/9516/2561/5d6ce606E9e9c0ac8/9efda400a158c316.png")
    no-repeat;
  background-size: 84rpx 64rpx;
  line-height: 64rpx;
  font-size: 30rpx;
  color: #ffffff;
  text-align: center;
}
