$staredBg: 'https://m.360buyimg.com/img/jfs/t1/14936/39/10340/1771/5c85c5d6E698ae177/453fad5d4a5cad7c.png';
$unstarBg: 'https://m.360buyimg.com/img/jfs/t1/16050/16/10338/1712/5c85c488Ec1a2a9cf/91e5cd7facfa57bb.png';
$moreBg: 'https://m.360buyimg.com/img/jfs/t1/30186/34/2813/1050/5c6e3127E0ff736ad/3f2ea120065f29f3.png';
// $cartBg: "https://m.360buyimg.com/img/jfs/t1/26288/34/14220/2753/5ca56d0aEdbfb08ba/3b465e92345b7a0a.png";
$cartBg: 'https://m.360buyimg.com/img/jfs/t1/26288/34/14220/2753/5ca56d0aEdbfb08ba/3b465e92345b7a0a.png';
// $topBg: "https://m.360buyimg.com/img/jfs/t1/27633/11/7703/10606/5c6e314aE1579946e/8f6e9f65fd0495dd.png";
$topBg: 'https://m.360buyimg.com/img/jfs/t1/33514/22/1384/3194/5ca56cbfE5be3d3d8/2b4cb66d94998b37.png';
$titleColor: rgb(37, 37, 37);
$subTitleColor: rgb(137, 137, 137);
$btnBg: linear-gradient(to right, rgb(98, 119, 160), rgb(65, 84, 123));

@import '../../../common/theme.scss';

.noscroll {
  overflow: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.bill-detail {
  position: relative;
  padding: 500px 0 0;
  box-sizing: border-box;

  .service-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 599;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .cover-img {
    width: 750px;
    height: 622px;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
  }

  .star-wrap {
    position: absolute;
    top: 20px;
    right: 28px;
    height: 68px;
    line-height: 68px;
    padding: 0 30px 0 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    border-radius: 40px;
  }

  .star {
    width: 48px;
    height: 48px;
    background-size: 100%;
    margin-right: 10px;
  }

  .stared {
    background-image: url(//m.360buyimg.com/img/jfs/t29293/120/1263414506/2805/273fd1ec/5cda8b9fNf19776a9.png);
  }

  .unstar {
    background-image: url(//m.360buyimg.com/img/jfs/t26644/7/2533238089/2423/e861e02b/5cda9088N487d4ae6.png);
  }

  .star-txt {
    height: 40px;
    line-height: 40px;
    font-family: PingFangSC-Semibold;
    font-size: 24px;
    color: rgb(255, 177, 90);
  }

  .right-fixed-area {
    position: fixed;
    right: 28px;
    bottom: 120px;
    z-index: 100;

    .cart,
    .go-top,
    .tobillhome {
      width: 88px;
      height: 88px;
      background-size: 100%;
      opacity: 0.95;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid rgba(151, 151, 151, 0.3);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      margin-top: 40px;
    }

    .go-top {
      background-image: url($topBg);
    }

    .tobillhome {
      color: rgb(94, 100, 109);
      font-size: 22px;
      font-family: 'PingFangSC-Semibold';
      display: flex;
      justify-content: center;
      align-items: center;

      .hometext {
        line-height: 26px;
        margin: 18px 22px;
      }
    }

    .cart {
      position: relative;
      background-image: url($cartBg);

      .cart-txt {
        position: absolute;
        top: -1px;
        right: -3px;
        padding: 0 8px;
        border-radius: 14px;
        background-color: rgb(255, 86, 86);
        height: 28px;
        min-width: 12px;
        line-height: 28px;
        font-family: PingFangSC-Medium;
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .card-wrap {
    position: relative;
    z-index: 10;
    padding: 0 28px;
  }

  .title-wrap {
    // height: 150px;
    display: flex;
    align-items: center;
    padding: 40px 28px 40px;

    .title {
      font-family: PingFangSC-Medium;
      font-size: 36px;
      color: $titleColor;
      margin-right: 20px;
    }

    .sub-title {
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: $subTitleColor;
    }

    .mainFoodDesc {
      font-family: PingFangSC-Medium;
      font-size: 24px;
      color: rgb(226, 52, 52);
      margin-left: 20px;
    }
  }

  .step-list-wrap {
    padding: 0 28px;
  }

  .split {
    height: 20px;
    background-color: rgba(216, 216, 216, 0.2);
  }

  .foods-title {
    justify-content: space-between;

    .foods-title-left {
      display: flex;
      align-items: center;
    }

    .add-all-btn {
      box-sizing: border-box;
      min-width: 172px;
      padding: 0 20px;
      height: 60px;
      border-radius: 30px;
      text-align: center;
      line-height: 60px;
      color: #fff;
      font-family: PingFangSC-Regular;
      font-size: 26px;
      background: $btnColor;
      // linear-gradient(
      //   316deg,
      //   rgba(51, 71, 111, 1) 0%,
      //   rgba(98, 119, 160, 1) 100%
      // );
    }

    .add-all-btn.disabled {
      background-image: none;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .foods-list {
    padding: 0 28px;
  }

  .more-foods-btn {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #fff;
    font-family: PingFangSC-Medium;
    font-size: 28px;
    color: $titleColor;

    &::after {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      background-image: url($moreBg);
      margin-left: 12px;
      background-size: 100%;
      margin-top: 8px;
      transition: 500ms;
    }
  }

  .more-foods-btn.up {
    &::after {
      transform: rotate(180deg);
    }
  }

  .more-list {
    display: flex;
    padding: 0 28px 40px;
    flex-wrap: wrap;

    .more-list-img {
      width: 222px;
      height: 222px;
      border-radius: 4px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .more-list-img:nth-child(3n) {
      margin-right: 0;
    }
  }

  .bottomBox {
    margin-top: 100px;
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      width: 226px;
      height: 84px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/149704/14/12980/13462/5f9feb90Ef30c6943/a065b486496338d7.png)
        no-repeat;
      background-size: 100%;
    }
  }

  .box {
    height: 120px;
  }

  .shopping-cart {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
  }

  .popup {
    height: 100%;
  }

  .recommend-menu {
    height: 100%;
    overflow: hidden;
    margin: 60px 32px 20px;

    .recommend-title {
      height: 44px;
      line-height: 44px;
      font-family: PingFangSC-Medium;
      font-size: 32px;
      color: rgba(37, 37, 37, 1);
      margin-bottom: 30px;
    }
  }

  .recommend-singal {
    width: 338px;
    float: left;
    overflow: hidden;
    margin-right: 0;
  }

  .recommend-singal:nth-child(2n) {
    margin-right: 10px;
  }
}
