.items-info {
  // margin-left: 7px;
  // margin-right: 7px;
  border-radius: 10px;
  box-shadow: 0 6px 10px 0 rgba(50, 54, 63, 0.05);
  margin-bottom: 20px;

  .items-info-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .items-img {
    position: relative;
    width: 340px;
    height: 255px;
    margin-bottom: 16px;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .play-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://m.360buyimg.com/img/jfs/t1/53860/24/15727/1499/5dcbdcc7E3e79a6bf/c156b4e6dc2fc8ac.png');
  }

  .topic-name {
    padding-left: 20px;
    width: 338px;
    font-size: 20px;
    color: rgb(86, 136, 230);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    .name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .topic-name-icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('https://m.360buyimg.com/img/jfs/t1/108440/7/16551/1321/5eb3b9d1Ef61107d7/77c963d519451631.png');
    }
  }

  .items-name {
    width: 306px;
    color: rgba(29, 31, 43, 1);
    font-size: 28px;
    font-family: PingFangSC-Regular;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;

    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    margin-top: 10px;
  }

  .items-ext-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .items-ext {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-icon {
    width: 36px;
    height: 36px;
  }

  .user-icon-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .user-name {
    color: rgb(149, 150, 159);
    font-size: 20px;
    padding-left: 8px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;

    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }

  .items-praise {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .items-praise-icon {
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .items-praise-num {
    color: rgb(149, 150, 159);
    font-size: 20px;
  }

  .items-collect {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .items-collect-icon {
    width: 40px;
    height: 40px;
    background-image: url('https://m.360buyimg.com/img/jfs/t1/114852/25/5231/1690/5eb26fa5E5eff204a/dff47dc3cb6ad1a2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;
  }

  .items-collect-icon.selected {
    background-image: url('https://m.360buyimg.com/img/jfs/t1/126319/3/1114/1979/5eba02b6Ee7901f1d/e79d5d72c084b78d.png');
  }

  .items-collect-num {
    color: rgb(149, 150, 159);
    font-size: 20px;
  }

  .items-info:focus,
  .items-collect:focus,
  .items-praise:focus {
    outline: 0;
  }
}
