.fight-cell-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .title{
      height:32px;
      width:448px;
  }
  .more{
    font-family: 'PingFangSC-Regular';
    font-size:26px;
    color:rgb(152,152,152);
    padding-right:10px;
  }
  .left-icon{
    width:16px;
    height:22px;
    position: relative;
    top:2px;
  }
  .name{
    font-family: 'PingFangSC-Medium';
    font-size: 32px;
  }
}
