.recommendInfo {
  width: 630px;
  height: 572px;
  border: 1px solid #fff;
  position: relative;
}

.recommendInfo .seatbgc {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.recommendInfo .text {
  display: inline-block;
  width: 150px;
  height: 72px;
  line-height: 72px;
  margin-left: 20px;
  font-family: 'PingFangSC-Medium';
  font-size: 28px;
  color: rgb(37, 37, 37);
  vertical-align: top;
}

.recommendInfo .textarea .words {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'PingFangSC-Regular';
  font-size: 28px;
  color: rgb(194, 194, 194);
}

.recommendInfo .phrase {
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-family: 'PingFangSC-Medium';
  font-size: 28px;
  color: rgb(37, 37, 37);
  margin-bottom: 20px;
}

.recommendInfo .des {
  display: inline-block;
  margin-left: 10px;
  width: 440px;
  height: 40px;
  line-height: 40px;
  font-family: 'PingFangSC-Regular';
  font-size: 24px;
  color: rgb(137, 137, 137);
}

.recommendInfo .phrase-input {
  height: 70px;
  width: 630px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #fff;
  margin-left: 15px;
}

.recommendInfo .phrase-input .recommend-input {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 0.5);
  font-family: 'PingFangSC-Medium';
  font-size: 28px;
  padding: 10px;
  color: rgb(37, 37, 37);
  display: inline-block;
  margin-right: 30px;
}

.recommendInfo .phrase-input input:last-child {
  margin-right: 0;
}

.recommendInfo .recommend-textarea {
  border-radius: 8px;
  border: 1px solid rgba(151, 151, 151, 0.5);
  padding: 20px;
  width: 580px;
  height: 280px;
  font-size: 28px;
}

.recommendInfo .recommend-content {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.recommendInfo .recommend-textarea-num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 28px;
  color: rgb(194, 194, 194);
  font-family: 'PingFangSC-Regular';
}

.recommendInfo .userAvatarUrl {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.recommendInfo .r-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.recommendInfo .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 610px;
  z-index: 5;
}
