.fight-title {
  font-family: 'PingFangSC-Semibold';
  font-size: 38px;
  color: #252525;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 52px;

  .leftLine,
  .rightLine {
    position: relative;
    width: 78px;
    height: 4px;
  }

  .leftLine {
    background: linear-gradient(
      to left,
      rgba(255, 180, 180, 1),
      rgba(255, 255, 255, 1)
    );
  }

  .rightLine {
    background: linear-gradient(
      to right,
      rgba(255, 180, 180, 1),
      rgba(255, 255, 255, 1)
    );
  }

  .content {
    margin: 0 60px;
  }

  .line-circle-l,
  .line-circle-r {
    width: 8px;
    height: 8px;
    background: rgba(255, 158, 158, 1);
    transform: rotate(45deg);
  }

  .line-circle-l {
    position: absolute;
    top: -2px;
    right: -8px;
  }

  .line-circle-r {
    position: absolute;
    top: -2px;
    left: -8px;
  }
}
