.page-container {
  background-color: #27a03c;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('//m.360buyimg.com/img/jfs/t1/165598/24/17414/354043/60701c07E01e83176/a1cdbd88e8bc004d.png!70.dpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.btn-box {
  position: absolute;
  width: 100%;
  bottom: 23%;
}

.cm-btn {
  width: 462px;
  height: 92px;
  line-height: 92px;
  display: block;
  background-color: #fff;
  border-radius: 46px;
  font-size: 36px;
  text-align: center;
  color: rgba(39, 160, 60, 1);
  margin: 0 auto 30px;
}

.cm-btn::after {
  border: none;
}

.tips {
  font-size: 26px;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 100px;
}
