.floor-coupon-group {
  width: 690px;
  height: 332px;
  background: url(//m.360buyimg.com/img/jfs/t1/114774/31/12785/380779/5f15518dEc1fd3b45/8c582769c1e90cc7.png)
    no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 22px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto 20px;

  &.big {
    height: 380px;
  }

  .tilte {
    height: 34px;
    line-height: 34px;
    font-family: PingFangSC-Medium;
    font-size: 28px;
    text-align: center;
    color: rgba(255, 233, 181, 1);
    margin-bottom: 22px;
  }

  .coupon-content {
    position: relative;
  }

  .content {
    display: flex;
    overflow: auto;
    padding-left: 20px;
    box-sizing: border-box;

    &.center {
      padding-left: 0;
      display: flex;
      justify-content: center;
    }

    .list-one {
      width: 520px;
      height: 140px;
      background: url(//m.360buyimg.com/img/jfs/t1/111297/40/12880/2481/5f155ed5E73b03cbf/83a3efce0b3d2d4b.png)
        no-repeat;
      background-size: 100% 100%;
      box-shadow: 0 8px 14px 0 rgba(166, 0, 0, 0.2);
      display: flex;
      justify-items: center;
      position: relative;

      .left {
        padding-top: 28px;
        width: 166px;
        height: 68px;
        line-height: 68px;
        text-align: center;
        font-family: HelveticaNeue-Bold;
        font-size: 68px;
        color: rgba(255, 75, 37, 1);

        .num {
          padding-left: 24px;
          position: relative;

          .icon {
            position: absolute;
            bottom: 34px;
            left: 0;
            display: inline-block;
            width: 18px;
            height: 28px;
            font-size: 30px;
          }
        }

        .count {
          padding-right: 28px;
          position: relative;

          .icon {
            position: absolute;
            right: -4px;
            bottom: 22px;
            display: inline-block;
            width: 30px;
            height: 42px;
            font-size: 30px;
            font-family: PingFangSC-Semibold;
          }
        }
      }

      .right {
        flex: 1;
        width: 352px;
        padding: 40px 26px 0 26px;
        box-sizing: border-box;

        .desc {
          height: 28px;
          line-height: 28px;
          font-family: PingFangSC-Medium;
          font-size: 26px;
          color: rgba(29, 31, 43, 1);
          margin-bottom: 12px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
        }

        .rule {
          height: 28px;
          line-height: 28px;
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: rgba(149, 150, 159, 1);
          text-align: center;
        }
      }

      .gotten {
        position: absolute;
        top: 0;
        right: 0;
        width: 96px;
        height: 98px;
        background: url(//m.360buyimg.com/img/jfs/t1/133657/14/4913/15039/5f16584aEc5374ea5/9ff909b7be8eeb8e.png)
          no-repeat;
        background-size: 100% 100%;

        &.no-more {
          background: url(//m.360buyimg.com/img/jfs/t1/129601/40/8262/14638/5f470bf2Ef26ff92d/c799f1481590b8e3.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }

      &.gray {
        .num,
        .count {
          color: rgba(166, 0, 0, 0.2);
        }

        .desc,
        .rule {
          color: rgba(204, 204, 204, 1);
        }
      }
    }

    .list-two {
      width: 650px;
      height: 132px;
      display: flex;
      justify-content: space-around;

      .two-info {
        width: 320px;
        height: 132px;
        background: url(//m.360buyimg.com/img/jfs/t1/130533/39/5039/2146/5f155debE122d2dd1/3babed7f0b700365.png)
          no-repeat;
        background-size: 100% 100%;
        // box-shadow: 0px 8px 14px 0px rgba(166,0,0,0.2);
        margin-right: 10px;
        display: flex;
        position: relative;

        &:last-of-type {
          margin-right: 0;
        }

        .left {
          padding-top: 38px;
          width: 135px;
          height: 48px;
          line-height: 48px;
          text-align: center;
          font-family: HelveticaNeue-Bold;
          font-size: 48px;
          color: rgba(255, 75, 37, 1);

          .num {
            padding-left: 24px;
            position: relative;

            .icon {
              position: absolute;
              bottom: 16px;
              left: 0;
              display: inline-block;
              width: 18px;
              height: 28px;
              font-size: 30px;
            }
          }

          .count {
            padding-right: 24px;
            position: relative;

            .icon {
              position: absolute;
              right: -4px;
              bottom: 19px;
              display: inline-block;
              width: 24px;
              height: 28px;
              font-size: 24px;
              font-family: PingFangSC-Semibold;
            }
          }
        }

        .right {
          flex: 1;
          width: 183px;
          padding: 36px 20px 0 7px;
          box-sizing: border-box;

          .desc {
            padding-left: 16px;
            height: 28px;
            line-height: 28px;
            font-family: PingFangSC-Medium;
            font-size: 22px;
            color: rgba(29, 31, 43, 1);
            margin-bottom: 4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
          }

          .rule {
            height: 28px;
            line-height: 28px;
            font-family: PingFangSC-Regular;
            font-size: 20px;
            color: rgba(149, 150, 159, 1);
            transform: scale(0.8);
            text-align: center;
          }
        }

        .gotten {
          position: absolute;
          top: 0;
          right: 0;
          width: 96px;
          height: 98px;
          background: url(//m.360buyimg.com/img/jfs/t1/133657/14/4913/15039/5f16584aEc5374ea5/9ff909b7be8eeb8e.png)
            no-repeat;
          background-size: 100% 100%;

          &.no-more {
            background: url(//m.360buyimg.com/img/jfs/t1/129601/40/8262/14638/5f470bf2Ef26ff92d/c799f1481590b8e3.png)
              no-repeat;
            background-size: 100% 100%;
          }
        }

        &.gray {
          .num,
          .count {
            color: rgba(166, 0, 0, 0.2);
          }

          .desc,
          .rule {
            color: rgba(204, 204, 204, 1);
          }
        }
      }
    }

    .list-three {
      height: 180px;
      display: flex;
      overflow: visible;

      .three-info {
        width: 172px;
        height: 180px;
        background: url(//m.360buyimg.com/img/jfs/t1/135187/11/4948/2135/5f156c2aEfdf6f6df/0e2cea0e9be96bb0.png)
          no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 10px;
        position: relative;

        &:last-of-type {
          margin-right: 0;
        }

        &.mr20 {
          margin-right: 20px;
        }

        .line-one {
          height: 82px;
          font-family: HelveticaNeue-Bold;
          font-size: 48px;
          color: rgba(255, 75, 37, 1);
          text-align: center;
          padding-top: 10px;

          .num {
            height: 60px;
            line-height: 60px;
            padding-left: 24px;
            position: relative;

            .icon {
              position: absolute;
              bottom: 24px;
              left: 0;
              display: inline-block;
              width: 18px;
              height: 28px;
              font-size: 30px;
            }
          }

          .count {
            padding-right: 24px;
            position: relative;

            .icon {
              position: absolute;
              right: -4px;
              bottom: 12px;
              display: inline-block;
              width: 24px;
              height: 28px;
              font-size: 24px;
              font-family: PingFangSC-Semibold;
            }
          }
        }

        .line-two {
          height: 98px;
          display: flex;
          flex-direction: column;
          padding-top: 18px;

          .desc {
            padding-left: 16px;
            height: 28px;
            line-height: 28px;
            font-family: PingFangSC-Medium;
            font-size: 22px;
            color: rgba(29, 31, 43, 1);
            margin-bottom: 4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
          }

          .rule {
            height: 28px;
            line-height: 28px;
            font-family: PingFangSC-Regular;
            font-size: 20px;
            color: rgba(149, 150, 159, 1);
            transform: scale(0.8);
            text-align: center;
          }
        }

        .gotten {
          position: absolute;
          top: 0;
          right: 0;
          width: 96px;
          height: 98px;
          background: url(//m.360buyimg.com/img/jfs/t1/133657/14/4913/15039/5f16584aEc5374ea5/9ff909b7be8eeb8e.png)
            no-repeat;
          background-size: 100% 100%;

          &.no-more {
            background: url(//m.360buyimg.com/img/jfs/t1/129601/40/8262/14638/5f470bf2Ef26ff92d/c799f1481590b8e3.png)
              no-repeat;
            background-size: 100% 100%;
          }
        }

        &.gray {
          .num,
          .count {
            color: rgba(166, 0, 0, 0.2);
          }

          .desc,
          .rule {
            color: rgba(204, 204, 204, 1);
          }
        }
      }

      &.scroll {
        overflow: visible;
      }
    }

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      width: 22px;
      height: 180px;
      background: linear-gradient(
        270deg,
        rgba(244, 77, 77, 1) 0%,
        rgba(243, 78, 78, 0) 100%
      );
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url(//m.360buyimg.com/img/jfs/t1/149245/36/3284/142654/5f154d7aE36676c64/09e33d52c6c44a8e.png)
      no-repeat;
    background-size: 100% 100%;
    // border-radius: 0px 0px 16px 16px;
    // box-shadow: 0px 2px 12px 0px rgba(245,0,0,0.5);
    .button {
      position: absolute;
      bottom: 34px;
      left: 216px;
      width: 258px;
      height: 60px;
      line-height: 60px;
      background: linear-gradient(180deg, #ffedc5 0%, #ffc746 100%);
      border-radius: 32px;
      box-shadow: 0 6px 10px 0 rgba(166, 0, 0, 0.45);
      font-family: PingFangSC-Semibold;
      font-size: 28px;
      text-align: center;
      color: rgba(113, 44, 0, 1);

      &.get {
        bottom: 52px;
        font-family: PingFangSC-Semibold;
        font-size: 28px;
        color: rgba(255, 255, 255, 1);
        background: none;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 32px;
        box-shadow: none;
      }
    }

    .no-more-tips {
      position: absolute;
      bottom: 44px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-family: PingFangSC-Semibold;
      font-size: 28px;
      color: rgba(255, 255, 255, 1);
      text-align: center;
    }

    .tips {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: rgba(255, 233, 185, 1);
      border-radius: 0 0 16px 16px;
      font-family: PingFangSC-Regular;
      font-size: 20px;
      text-align: center;
      color: rgba(29, 31, 43, 1);

      .day {
        font-family: PingFangSC-Medium;
        font-size: 24px;
        color: rgba(29, 31, 43, 1);
        padding: 0 4px;
      }
    }
  }
}
