.floor-notice {
  width: 100%;
  position: relative;
  .floor-notice-img {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .floor-notice-btn {
    position: absolute;
    z-index: 20;
  }
}
