.my-order-list {
  width: 690px;
  margin: 0 auto 20px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
  padding: 0 30px;
}

.my-order-list .my-order-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  color: #252525;
  font-family: 'PingFangSC-Regular';
  box-shadow: 0 1px 0 0 rgba(229, 229, 229, 1);
}

.my-order-list .my-order-title .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-order-list .my-order-title .left .shopImg {
  width: 44px;
  height: 44px;
  margin-right: 14px;
  border-radius: 50%;
}

.my-order-list .my-order-title .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: -20px;
}

.my-order-list .my-order-title .right .status {
  padding-right: 20px;
}

.my-order-list .my-order-title .right .split-line {
  width: 1px;
  height: 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.my-order-list .my-order-title .right .deletePicture {
  width: 24px;
  height: 28px;
  padding: 20px;
}

.my-order-list .my-order-goods {
  margin: 30px auto 16px;
  position: relative;
}

.my-order-list .my-order-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.my-order-list .my-top-border {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.my-order-list .my-order-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'PingFangSC-Regular';
  font-size: 24px;
  color: rgba(137, 137, 137, 1);
}

.my-order-list .my-order-price .order-price-left .order-easy-buy {
  width: 288px;
  height: 40px;
  line-height: 40px;
  background: rgba(231, 247, 231, 1);
  border-radius: 20px;
  font-size: 24px;
  font-family: 'PingFangSC-Regular';
  font-weight: normal;
  color: rgba(0, 170, 11, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.my-order-list .my-order-price .order-price-left .left-con {
  margin-left: 12px;
  margin-right: 6px;
  width: 22px;
  height: 24px;
  background:
    url('//m.360buyimg.com/img/jfs/t1/194700/39/10865/1820/60dc29e0E92db573c/af573224e4bbba26.png')
    no-repeat;
  background-size: cover;
}

.my-order-list .my-order-price .order-price-left .right-con {
  margin-left: 8px;
  width: 8px;
  height: 12px;
  background:
    url('//m.360buyimg.com/img/jfs/t1/183386/29/11841/319/60dc2b9bE59de6f84/e7edad138e42b1ff.png')
    no-repeat;
  background-size: cover;
}

.my-order-list .my-order-price .order-price-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'PingFangSC-Regular';
}

.my-order-list .order-price-right .grey {
  color: #898989;
  font-size: 24px;
}

.my-order-list .order-price-right .red {
  color: #e23434;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.my-order-list .order-price-right .litter {
  font-size: 20px;
}

.my-order-list .order-price-right .big {
  font-size: 32px;
  font-family: 'PingFangSC-Medium';
}

.my-order-list .goods-mask {
  width: 150px;
  height: 170px;
  background: #fff;
  color: #898989;
  font-size: 24px;
  line-height: 170px;
  text-align: center;
  z-index: 2;
  position: relative;
  left: 20px;
}

.my-order-list .goods-number {
  // width: 22px;
  // height: 32px;

  // font-size: 22px;
  // text-align: center;
  // z-index: 2;
  // position: relative;
  // left: 20px;

  width: 22px;
  height: 32px;
  font-size: 22px;
  font-family: 'PingFangSC-Regular';
  color: #95969f;
}

.my-order-list .goods-list-cont {
  // width: 550px;
  width: 100%;
  overflow: hidden;
}

.my-order-list .my-order-only {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-order-list .my-order-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-order-list .goods-white {
  width: 70px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 140px;
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
}

.my-order-list .period-cont {
  margin: 20px 0;
  font-size: 24px;
}

.my-order-list .period-cont .showPeriodInfo {
  background: rgb(52, 91, 143);
  color: #fff;
  border-radius: 40px 40px 40px 0;
  display: inline-block;
  padding: 4px 18px;
}

.my-order-list .period-cont .date {
  color: #898989;
  padding-left: 20px;
}

.goods-only {
  width: 90%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.goods-only .good-img {
  width: 140px;
  height: 140px;
  margin-right: 12px;
  border: 1px solid #eee;
}

.goods-only .goods-only-sku {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.goods-only .skuName {
  color: #252525;
  font-size: 26px;
  font-family: 'PingFangSC-Medium';
  font-weight: 500;
  overflow: hidden;
  width: 440px;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.goods-only .skuRule {
  font-size: 24px;
  color: #898989;
  font-family: 'PingFangSC-Regular';
  padding-top: 6px;
  overflow: hidden;
  width: 440px;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.goods-only .sku-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 38px;
}

.goods-only .sku-price {
  font-size: 26px;
  font-family: 'PingFangSC-Regular';
  font-weight: 500;
  color: rgba(225, 37, 27, 1);
}

.goods-only .sku-buyunit {
  font-size: 22px;
  font-family: 'PingFangSC-Regular';
  font-weight: normal;
  color: rgba(149, 150, 159, 1);
  padding-left: 4px;
}

.goods-only .serviceTag {
  font-size: 24px;
  color: #898989;
  font-family: 'PingFangSC-Regular';
  overflow: hidden;
  width: 440px;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-order-btn {
  width: 172px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 32px;
  background: #fff;
  border: 1px solid #898989;
  font-size: 28px;
  color: #252525;
  margin: 20px 0 20px 20px;
}

.my-green-order-btn {
  margin: 20px 0 20px 20px;
  width: 214px;
  height: 64px;
  line-height: 64px;
  background:
    linear-gradient(
      233.63deg,
      rgba(23, 195, 22, 1) 0%,
      rgba(93, 208, 62, 1) 100%
    );
  border-radius: 32px;
  font-size: 28px;
  color: #fff;
  font-family: 'PingFangSC-Semibold';
  font-weight: 500;
  padding-left: 32px;
  // text-align: center;
}

.goods-list {
  height: 144px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.goods-list .item {
  margin-right: 20px;
}

.goods-list .good-img {
  // border-radius: 10px;
  width: 140px;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  // box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
}
