.video-text {
  position: fixed;
  bottom: 0;
  padding-bottom: 166rpx;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  // filter: blur(24px);
  .user-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20rpx 30rpx;
    .img {
      width: 24rpx;
      height: 14rpx;
      padding: 20rpx;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}
.background {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(20px);
  &.active {
    z-index: 0;
  }
}
