.img-list {
  display: flex;
  flex-wrap: wrap;

  .img {
    width: 226px;
    height: 226px;
    margin-right: 5px;
    margin-top: 6px;
    border-radius: 16px;

    & :nth-child(3n + 3) {
      margin-right: 0;
    }

    & :nth-child(1),
    & :nth-child(2),
    & :nth-child(3) {
      margin-top: 0;
    }
  }

  &.single {
    .img {
      width: 690px;
      height: 370px;
      border-radius: 16px;
    }
  }

  &.big {
    .img {
      width: 690px !important;
      height: 370px !important;
      border-radius: 16px;
    }
  }

  &.middle {
    .img:nth-child(2) {
      margin-right: 100px;
    }

    .img:nth-child(3) {
      margin-top: 6px;
      margin-right: 6px;
    }
  }
}
