.addr-container {
  background: #f7f7f7;
  height: auto;

  .item-page {
    background: #fff;
  }

  .item-cont {
    padding: 0 30px;
    min-height: 180px;
    width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .address-choose {
    width: 30px;
    height: 30px;
    margin: 0 30px 0 0;
  }

  .litter-title {
    font-size: 24px;
    font-family: 'PingFangSC-Regular';
    color: rgb(137, 137, 137);
    margin: 38px 30px 16px;
  }

  .litter-title-address {
    font-size: 24px;
    font-family: 'PingFangSC-Regular';
    color: rgb(137, 137, 137);
    margin: 20px 30px;
  }

  .litter-title-position {
    font-size: 24px;
    font-family: 'PingFangSC-Regular';
    color: rgb(137, 137, 137);
    margin: 20px 30px 16px;
  }

  .address-edit {
    width: 26px;
    height: 24px;
  }

  .main {
    width: 626px;
    margin-top: 30px;
    color: rgb(137, 137, 137);
    flex: 1;
  }

  .main .top,
  .main .grey-top {
    font-size: 30px;
    padding-bottom: 6px;
  }

  .pr20 {
    padding-right: 40px;
  }

  .main .bottom {
    font-size: 26px;
    line-height: 36px;
    font-family: 'PingFangSC-Regular';
    // -webkit-line-clamp: 2;
    margin-bottom: 20px;
    color: #1d1f2b;
    // height: 76px;
  }

  .main-current {
    width: 538px;
  }

  .main .top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #000;
  }

  .main-current .top,
  .main-current .bottom {
    color: #1d1f2b;
  }

  .main .top .mobile {
    color: #95969f;
  }

  .main-current .top .mobile {
    color: #1d1f2b;
  }

  .list-address {
    // margin-bottom: 30px;
  }

  .address-content {
    margin-top: 20px;
  }

  .createBtn {
    position: fixed;
    right: 80px;
    bottom: 20px;
    left: 80px;
    width: 590px;
    height: 80px;
    background:
      linear-gradient(
        306deg,
        rgba(53, 198, 70, 1) 0%,
        rgba(103, 208, 78, 1) 100%
      );
    box-shadow: 0 10px 20px rgba(36, 85, 128, 0.3);
    color: #fff;
    font-size: 32px;
    text-align: center;
    line-height: 80px;
    border-radius: 44px 44px 44px 44px;
  }

  .delete-modal {
    padding: 30px;
  }

  .delete-title {
    color: #444;
    font-size: 30px;
  }

  .delete-word {
    color: #444;
    font-size: 26px;
  }

  .list-address .tag-name {
    width: 92px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    background: rgba(94, 197, 67, 0.11);
    color: #00ab0c;
    text-align: center;
    font-size: 24px;
    font-family: 'PingFangSC-Regula';
    // margin-left: 20px;
    display: inline-block;
  }

  .address-not-setting {
    margin-top: 114px;
    text-align: center;
    font-size: 26px;
    color: #898989;
  }

  .no-address {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;

    .img {
      width: 216px;
      height: 400px;
      font-size: 26px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }

    .notice {
      margin-top: 42px;
      color: rgb(137, 137, 137);
    }

    .new-address {
      height: 64px;
      margin-top: 39px;
      padding: 0 44px;
      line-height: 68px;
      border: 1px solid rgb(194, 194, 194);
      border-radius: 8px;
      background: #fff;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .address-tip-modal {
    width: 100%;
    // margin: 20px auto 0;
  }

  .fail-list {
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #252525;
      margin: 30px auto 20px;
    }

    .fail-pic {
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }
  }
}
