.info-modal {
  position: relative;

  .info-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  .info-modal-content {
    z-index: 6;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
  }

  .info-modal-wx {
    margin: 0 auto;
    width: 340px;
    height: 424px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
    padding: 46px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .info-modal-wx-title {
    font-family: 'PingFangSC-Semibold';
    font-size: 34px;
    color: #252525;
    height: 48px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  .info-modal-wx-sub-title {
    font-size: 28px;
    color: #252525;
    font-family: 'PingFangSC-Regular';
    margin-bottom: 42px;
  }

  .info-modal-wx-img {
    width: 260px;
    height: 260px;
    margin: 0 auto;
  }

  .close-btn,
  .close-btn .close-btn-img {
    width: 70px;
    height: 70px;
  }

  .close-btn {
    margin: 50px auto 0;
  }

  .info-modal-visit {
    margin: 0 auto;
    width: 540px;
    height: 422px;
    padding: 30px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
  }

  .info-modal-visit-title {
    margin-bottom: 60px;
  }

  .info-modal-visit-desc {
    width: 510px;
    margin: 0 auto;
    line-height: 50px;
    font-family: 'PingFangSC-Regular';
    color: #252525;
    font-size: 28px;
    text-align: center;
  }

  .info-btn {
    margin: 60px auto 0;
    width: 410px;
  }

  .info-modal-team {
    width: 540px;
    height: 750px;
    padding: 40px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .info-modal-team-title {
    font-family: 'PingFangSC-Semibold';
    font-size: 38px;
    color: #252525;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 104px;
    padding: 20px 0;
  }

  .info-modal-team-leftLine,
  .info-modal-team-rightLine {
    position: relative;
    width: 78px;
    height: 4px;
  }

  .info-modal-team-leftLine {
    background:
      linear-gradient(
        to left,
        rgba(255, 180, 180, 1),
        rgba(255, 255, 255, 1)
      );
  }

  .info-modal-team-rightLine {
    background:
      linear-gradient(
        to right,
        rgba(255, 180, 180, 1),
        rgba(255, 255, 255, 1)
      );
  }

  .info-modal-team-content {
    margin: 0 60px;
  }

  .info-modal-team-desc {
    font-family: 'PingFangSC-Regular';
    font-size: 28px;
    color: #252525;
    line-height: 50px;
    text-align: left;
    text-indent: 2em;
    padding-top: 20px;
  }

  .info-team-btn {
    margin: 40px auto 0;
  }

  .info-modal-team-line-circle-l,
  .info-modal-team-line-circle-r {
    width: 8px;
    height: 8px;
    background: rgba(255, 209, 209, 1);
    transform: rotate(45deg);
  }

  .info-modal-team-line-circle-l {
    position: absolute;
    top: -2px;
    right: -8px;
  }

  .info-modal-team-line-circle-r {
    position: absolute;
    top: -2px;
    left: -8px;
  }

  .info-share-btn {
    width: 400px;
    height: 88px;
    line-height: 88px;
    box-shadow: 0 5px 10px 0 rgba(255, 185, 104, 0.4);
    background:
      linear-gradient(
        to right,
        rgb(255, 220, 124),
        rgb(255, 183, 102)
      );
    color: rgb(154, 81, 52);
    border-radius: 44px 0 44px 44px;
    font-size: 32px;
    font-family: 'PingFangSC-Medium';
    border: 0;
  }

  .square-modal {
    height: 734px;
    width: 682px;
    background: #fff;
    border-radius: 8px;
    padding: 58px 16px 55.6px;
    overflow: hidden;
    margin: 0 auto;

    .title {
      width: 300px;
      height: 60px;
      margin: 0 auto 39px;

      .title-img {
        width: 300px;
        height: 60px;
      }
    }

    .content-list {
      width: 100%;
      height: 88%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      margin: 0 auto;

      .go-team-modal {
        height: 166px;

        &:last-child {
          margin-bottom: 80px;
        }
      }
    }
  }

  .new-coupon {
    width: 638px;
    height: 732px;
    position: relative;
    margin: 0 auto;
    background: url('https://m.360buyimg.com/img/jfs/t1/139484/10/17594/152217/5fcf2a8cE7e3bb6d4/689d0886926d0c74.png');
    background-size: contain;

    .new-amount {
      margin: 0 auto;
      padding-top: 310px;
      font-family: PingFangSC-Medium;
      font-size: 52px;
      color: rgba(255, 75, 37, 1);
      text-align: center;

      .new-amount-count {
        // background: linear-gradient(130deg, rgba(252,97,97,1) 0%,rgba(245,73,73,1) 100%);
        line-height: 120px;
        font-family: FZLTCHJW--GB1-0;
        font-size: 100px;
        color: rgba(255, 75, 37, 1);
        text-shadow: 0 2px 3px rgba(244, 14, 14, 1);
      }
    }

    .new-info {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-family: PingFangSC-Medium;
      font-size: 28px;
      color: rgba(255, 96, 96, 1);
      margin: 0 auto;
    }

    .new-get {
      position: absolute;
      bottom: 104px;
      left: 134px;
      width: 380px;
      height: 78px;
      line-height: 78px;
      text-align: center;
      background:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 184, 18, 1) 100%
        );
      border-radius: 40px;
      box-shadow: 0 8px 28px 0 rgba(166, 0, 0, 0.45);
      font-family: PingFangSC-Semibold;
      font-size: 36px;
      color: rgba(113, 44, 0, 1);
    }
  }

  .remind {
    width: 700px;
    height: 536px;
    margin: 0 auto 0;

    .remind-pic {
      width: 100%;
      height: 100%;
    }
  }

  .restart {
    width: 606px;
    height: 616px;
    padding: 30px 0 40px;
    margin: 0 auto;
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.05);
    text-align: center;

    .title {
      font-family: PingFangSC-Medium;
      font-size: 36px;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 30px;
    }

    .restart-pic {
      width: 546px;
      height: 396px;
    }

    .notice {
      margin-bottom: 30px;

      .always {
        color: #fd3333;
      }
    }

    .restart-but {
      margin: 0 auto;
      width: 470px;
      height: 72px;
      line-height: 72px;
      background:
        linear-gradient(
          118.57deg,
          rgba(255, 109, 109, 1) 0%,
          rgba(253, 50, 50, 1) 100%
        );
      border-radius: 42px;
      font-family: PingFangSC-Semibold;
      font-size: 32px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
