.recommendation {
  /* width: 650px;  */
  padding: 0 20px;
  display: inline-block;
  position: relative;
}

.recommendation .icon {
  position: absolute;
  left: 20px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-image: url(//m.360buyimg.com/img/jfs/t1/17897/1/4604/1111/5c332235Ee374a1b0/0d94a100af2b79f8.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.recommendation .text {
  display: inline-block;
  text-indent: 44px;
  line-height: 44px;
  font-size: 28px;
  font-family: 'PingFangSC-Regular';
  color: rgb(186, 77, 44);
}

.recommendation .recommendation-easy {
  width: 576px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.recommendation .rec-left-dot,
.recommendation .rec-right-dot {
  width: 30px;
  height: 28px;
}

.recommendation .rec-left-dot {
  margin-right: 20px;
}

.recommendation .rec-word {
  position: relative;
  top: -4px;
  font-size: 28px;
  color: rgb(186, 77, 44);
  line-height: 40px;
}

.recommendation .rec-right-dot {
  margin-right: 20px;
  transform: rotate(180deg);
}

.recommendation-open {
  font-size: 28px;
  font-family: 'PingFangSC-Semibold';
  color: rgb(186, 77, 44);
  line-height: 44px;
  margin-top: 10px;
}
