.page-container {
  display: block;
  width: 750px;
  margin-top: 22px;
  background: rgb(251, 251, 251);
}

.page-main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.items-info {
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 10px;
  box-shadow: 0 6px 10px 0 rgba(50, 54, 63, 0.05);
  margin-bottom: 20px;
}

.items-info-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.items-img {
  position: relative;
  width: 338px;
  height: 255px;
  margin-bottom: 16px;
}

.img {
  width: 338px;
  height: 255px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.play-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://m.360buyimg.com/img/jfs/t1/53860/24/15727/1499/5dcbdcc7E3e79a6bf/c156b4e6dc2fc8ac.png');
}

.is-top-icon {
  width: 74px;
  height: 36px;
  position: absolute;
  top: 16px;
  left: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://m.360buyimg.com/img/jfs/t1/116949/33/8452/2104/5ece5a03E3af248ab/715f722d4b169c8d.png');
}

.items-name {
  width: 306px;
  color: rgb(29, 31, 43);
  font-size: 28px;
  font-family: PingFangTC-Medium;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;

  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.items-ext-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0;

  .user-info-flag {
    width: 348px;
    height: 148px;
    position: absolute;
    margin: auto;
    top: -150px;
    left: 60px;
    background-image: url('https://m.360buyimg.com/img/jfs/t1/125061/8/3494/10351/5ed1c3beE4cb31ca7/595b204651b5e3d6.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
  }
}

.items-ext-container.has-flag {
  z-index: 30;
  background: #f7f7f7;
  border-radius: 44px;
}

.items-ext {
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-icon {
  width: 36px;
  height: 36px;
}

.user-icon-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.user-name {
  color: rgb(149, 150, 159);
  font-size: 20px;
  padding-left: 8px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;

  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.items-praise {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.items-praise-icon {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
}

.items-praise-num {
  color: rgb(149, 150, 159);
  font-size: 20px;
}

.items-info:focus,
.items-praise:focus {
  outline: 0;
}

.no-more {
  width: 750px;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 24px;
  color: rgba(149, 150, 159, 1);
}
