$float-layout-timer: 300ms;
$float-layout-height-max: 950px !default;
$color-bg: #fff !default;
$spacing-v-md: 18px !default;
$line-height-zh: 1.5 !default; // 中文多行

.at-float-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 810;
  transition: visibility $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);

  /* elements */
  &__overlay {
    opacity: 0;
    transition: opacity 150ms ease-in;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($color: #000, $alpha: 0.3);
  }

  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: $float-layout-height-max;
    background-color: $color-bg;
    transform: translate3d(0, 100%, 0);
    transition: transform $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);
  }

  .layout {
    &-header {
      position: relative;
      padding: $spacing-v-md;
      line-height: $line-height-zh;
      background-color: #f7f7f7;

      &__title {
        color: #333;
        font-size: 16px;
        display: block;
        padding-right: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__btn-close {
        position: absolute;
        padding: 10px;
        top: 50%;
        right: $spacing-v-md;
        width: 40px;
        height: 100%;
        line-height: 1;
        transform: translate(0, -50%);

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          width: 36px;
          height: 2px;
          border-radius: 1px;
          background: #ccc;
        }

        &::before {
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }

        &::after {
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
      }
    }

    &-body {
      font-size: 14px;
      padding: $spacing-v-md;
      max-height: 828px;
      min-height: 514px;

      &__content {
        max-height: 798px;
        min-height: 484px;
      }
    }
  }

  /* modifiers */
  &--active {
    visibility: visible;

    .at-float-layout__overlay {
      opacity: 1;
    }

    .at-float-layout__container {
      transform: translate3d(0, 0, 0);
    }
  }
}
