.modal {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .modal-content {
    width: 600px;
    background: #fff;
    border-radius: 8px;
  }

  .modal-content .title {
    font-size: 32px;
    text-align: center;
    line-height: 60px;
    margin-top: 20px;
  }

  .modal-content .content {
    font-size: 26px;
    color: #808080;
    text-align: center;
    line-height: 36px;
    padding: 20px;
  }
  .modal-content .footer {
    border-top: 1px solid #d5d5d6;
  }

  .modal-content .footer .btn {
    background: none;
    color: #09bb07;
    border: 0;
    border-radius: 0;
  }
}
