.always {
  position: relative;
  display: block;
  padding: 16px 30px;
  min-width: 500px;
  margin: 0 auto;
}

.rightIcon {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 20px;
  height: 20px;
}

.txtL {
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  color: rgba(29, 31, 43, 1);
  text-align: left;
  margin-bottom: 6px;
}

.txtS {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: rgba(149, 150, 159, 1);
  text-align: left;
}

.sku-box {
  position: absolute;
  top: 14px;
  right: 40px;
}

.sku-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
}
