.info-modal {
  position: relative;

  .info-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
  }

  .info-modal-content {
    z-index: 12;
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
  }

  .info-modal-wx {
    margin: 0 auto;
    width: 340px;
    height: 424px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
    padding: 46px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .info-modal-wx-title {
    font-family: 'PingFangSC-Semibold';
    font-size: 34px;
    color: #252525;
    height: 48px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  .info-modal-wx-sub-title {
    font-size: 28px;
    color: #252525;
    font-family: 'PingFangSC-Regular';
    margin-bottom: 42px;
  }

  .info-modal-wx-img {
    width: 260px;
    height: 260px;
    margin: 0 auto;
  }

  .close-btn,
  .close-btn .close-btn-img {
    width: 70px;
    height: 70px;
  }

  .close-btn {
    margin: 50px auto 0;
  }

  .info-modal-visit {
    margin: 0 auto;
    width: 540px;
    height: 422px;
    padding: 30px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
  }

  .info-modal-visit-title {
    margin-bottom: 60px;
  }

  .info-modal-visit-desc {
    width: 510px;
    margin: 0 auto;
    line-height: 50px;
    font-family: 'PingFangSC-Regular';
    color: #252525;
    font-size: 28px;
    text-align: center;
  }

  .info-btn {
    margin: 60px auto 0;
    width: 410px;
  }

  .info-modal-team {
    width: 540px;
    height: 382px;
    padding: 40px 20px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .info-modal-team-title {
    font-family: 'PingFangSC-Semibold';
    font-size: 38px;
    color: #252525;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 52px;
  }

  .info-modal-team-leftLine,
  .info-modal-team-rightLine {
    position: relative;
    width: 78px;
    height: 4px;
  }

  .info-modal-team-leftLine {
    background:
      linear-gradient(
        to left,
        rgba(255, 180, 180, 1),
        rgba(255, 255, 255, 1)
      );
  }

  .info-modal-team-rightLine {
    background:
      linear-gradient(
        to right,
        rgba(255, 180, 180, 1),
        rgba(255, 255, 255, 1)
      );
  }

  .info-modal-team-content {
    margin: 0 60px;
  }

  .info-modal-team-desc {
    font-family: 'PingFangSC-Regular';
    font-size: 28px;
    color: #252525;
    line-height: 60px;
  }

  .info-team-btn {
    margin: 70px auto 0;
  }

  .info-modal-team-line-circle-l,
  .info-modal-team-line-circle-r {
    width: 8px;
    height: 8px;
    background: rgba(255, 209, 209, 1);
    transform: rotate(45deg);
  }

  .info-modal-team-line-circle-l {
    position: absolute;
    top: -2px;
    right: -8px;
  }

  .info-modal-team-line-circle-r {
    position: absolute;
    top: -2px;
    left: -8px;
  }

  .info-share-btn {
    width: 400px;
    height: 88px;
    line-height: 88px;
    box-shadow: 0 5px 10px 0 rgba(255, 185, 104, 0.4);
    background:
      linear-gradient(
        to right,
        rgb(255, 220, 124),
        rgb(255, 183, 102)
      );
    color: rgb(154, 81, 52);
    border-radius: 44px 0 44px 44px;
    font-size: 32px;
    font-family: 'PingFangSC-Medium';
    border: 0;
  }

  .square-modal {
    height: 856px;
    width: 682px;
    background: #fff;
    border-radius: 8px;
    padding: 30px 14px;
    overflow: hidden;

    .title {
      width: 300px;
      height: 60px;
      margin: 0 auto 40px;

      .title-img {
        width: 300px;
        height: 60px;
      }
    }

    .content-list {
      width: 100%;
      height: 88%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      margin: 0 auto;

      .go-team-modal {
        height: 160px;

        &:last-child {
          margin-bottom: 80px;
        }
      }
    }
  }
}

.info-modal .solitaire-team-modal {
  background: #fff;
  position: relative;
  width: 530px;
  height: 520px;
  padding: 40px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
}

.info-modal .solitaire-team-modal .title {
  color: rgb(132, 63, 46);
  font-size: 30px;
  font-family: 'PingFangSC-Medium';
  text-align: center;
  margin-bottom: 40px;
}

.info-modal .solitaire-team-modal .desc {
  color: #252525;
  font-size: 26px;
  font-family: 'PingFangSC-Regular';
}

.info-modal .solitaire-team-modal .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 84px;
  line-height: 84px;
  background: linear-gradient(to right, rgb(255, 220, 124), rgb(255, 183, 102));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: rgb(121, 47, 37);
  font-size: 30px;
  font-family: 'PingFangSC-Semibold';
}

.info-modal .desc .team-list {
  margin-bottom: 20px;
}
