@import '../../../../common/theme.scss';

.star-card {
  box-sizing: border-box;
  padding: 20px;
  background-color: linear-gradient(#e6ecff, #acbceb, #d7e1ff);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0 30px;

  .title {
    height: 70px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 26px;

    .star {
      display: flex;
      justify-content: space-between;

      .avatar-wrapper {
        width: 66px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #5ccf65;
        border-radius: 50%;
        margin-right: 24px;
        background-color: #fff;

        .avatar {
          width: 62px;
          height: 62px;
          display: inline-block;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .name {
        font-family: PingFangSC-Medium;
        color: #252525;
        font-size: 32px;
        font-weight: 300;
        line-height: 70px;
      }
    }

    .more {
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #252525;

      .arrow {
        width: 10px;
        height: 16px;
      }
    }
  }

  .main-text {
    max-height: 138px;
    line-height: 46px;
    font-family: PingFangSC-Regular;
    font-size: 30px;
    color: rgba(37, 37, 37, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .video-cover {
    margin-top: 22px;
    position: relative;
    width: 650px;
    height: 349px;
    border-radius: 16px;

    .img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 16px;
      z-index: 0;
      background: #fff;
    }

    .player-img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 110px;
      height: 110px;
    }
  }

  .topic-box {
    display: inline-block;
    padding: 0 10px;
    margin-top: 12px;
    box-sizing: border-box;
    // width: 268px;
    height: 48px;
    line-height: 48px;
    padding-left: 42px;
    background: rgba(124, 169, 255, 0.08);
    border-radius: 8px;
    font-family: PingFangTC-Regular;
    font-size: 24px;
    color: $color;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 28px;
      height: 28px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/111044/8/6430/1491/5eba6b08E84074409/c4521627f6fe9c4d.png)
        no-repeat;
      background-size: 100% 100%;
    }
  }

  .recommend-list {
    margin: 0 -30px;
  }

  &.big {
    background: #fff;
    padding: 30px 30px 0 30px;
    margin: 0;

    .title {
      height: 80px;

      .star {
        .avatar-wrapper {
          width: 76px;
          height: 76px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid $color;
          border-radius: 50%;
          margin-right: 24px;
          background-color: #fff;

          .avatar {
            width: 72px;
            height: 72px;
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
          }
        }
      }
    }

    .video-cover {
      width: 690px;
      height: 370px;
    }
  }
}
