.price-desc-groudon {
  padding-left: 20px;
  height: 110px;
  width: 690px;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(to right, rgb(255, 110, 114), rgb(253, 49, 51));
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: center;
}

.price-desc-groudon .left {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price-desc-groudon .left .left-top {
  display: flex;
}

.price-desc-groudon .left .left-bottom {
  display: flex;
}

.price-desc-groudon .left .original-price {
  font-size: 26px;
  color: #c2c2c2;
  line-height: 34px;
  text-align: left;
  text-decoration: line-through;
  margin-right: 30px;
  margin-left: 8px;
}

.price-desc-groudon .left .price {
  height: 58px;
  line-height: 66px;
  font-size: 40px;
  font-family: 'PingFangSC-Semibold';
  color: #fff;
  // float: left;
  margin-right: 30px;
}

.price-desc-groudon .left .price i {
  font-size: 30px;
  font-style: normal;
}

.price-desc-groudon .left .price span {
  font-size: 30px;
  height: 36px;
  line-height: 36px;
}

.price-desc-groudon .left .count {
  height: 40px;
  line-height: 40px;
  border: 2px solid rgba(225, 255, 255, 0.4);
  border-radius: 6px;
  font-size: 24px;
  font-family: 'PingFangSC-Medium';
  color: #fff;
  padding: 0 10px;
  margin-top: 10px;
  display: inline-block;
}

.price-desc-groudon .left .jd-price {
  height: 44px;
  line-height: 44px;
  clear: both;
  text-align: left;
  text-decoration: line-through;
  font-size: 30px;
  color: rgb(166, 29, 28);
}

.price-desc-groudon .right {
  position: relative;
  width: 250px;
  height: 110px;
  border-radius: 0 0 20px 0;
  background:
    url(//m.360buyimg.com/img/jfs/t11014/120/2965410444/2845/b2927234/5cdd36b6N5e2630df.png)
    no-repeat;
  background-size: 100% 100%;
}

.price-desc-groudon .right .txt {
  padding-left: 40px;
  height: 46px;
  line-height: 58px;
  font-size: 26px;
  color: rgb(255, 255, 255);
  font-family: 'PingFangSC-Regular';
  text-align: center;
}

.price-desc-groudon .right .right-time {
  /* margin-left: -10px; */
  padding-left: 40px;
  margin-top: 10px;
}

.price-desc-groudon .right .right-number {
  text-align: center;
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-family: 'PingFangSC-Semibold';
}
