.price-box {
  .con-txt {
    padding: 30px;
    max-height: 300px;
    line-height: 1.5;
    text-align: left;
    font-size: 26px;
    color: #333;
    font-family: PingFangSC-Regular;
  }

  .list-box {
    max-height: 300px;
    font-size: 26px;

    .list {
      padding: 0 30px;
      height: 97px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      color: #333;
      font-family: PingFangSC-Regular;
    }
  }
}
