.solitaire-detail-panel {
  width: 464px;
  height: 100px;
  border-radius: 44px 0 44px 0;
  background: linear-gradient(to right, rgb(255, 220, 124), rgb(255, 183, 102));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: rgb(132, 63, 46);

  .left {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 28px;
    margin-top: 12px;
  }

  .btn {
    width: 162px;
    height: 100px;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: 'PingFangSC-Semibold';
    font-size: 30px;
  }

  .btn .description {
    font-family: 'PingFangSC-Semibold';
    font-size: 30px;
    padding-left: 20px;
    padding-right: 10px;
  }

  .btn .picture {
    width: 12px;
    height: 20px;
  }

  .left .top .title {
    font-size: 24px;
    font-family: 'PingFangSC-Regular';
    line-height: 42px;
  }

  .left .top .price {
    font-family: 'PingFangSC-Semibold';
    font-size: 30px;
  }

  .left .info {
    font-size: 24px;
    font-family: 'PingFangSC-Regular';
  }

  &.fight-group {
    background: linear-gradient(
      90deg,
      rgba(243, 77, 77, 1) 0%,
      rgba(253, 131, 92, 1) 100%
    ) !important;
    box-shadow: 0 2px 7px 0 rgba(255, 141, 141, 0.51);
    color: rgba(255, 255, 255, 1) !important;

    .info {
      color: rgba(255, 255, 255, 0.7);
    }

    .picture {
      width: 10px;
      height: 12px;
      background: url(//m.360buyimg.com/img/jfs/t1/50659/15/14318/337/5db2aad7Ee3329e86/a5dce194d30c0cec.png)
        no-repeat;
      background-size: cover;
    }
  }
}
