.fight-detail-page {
  .recommend-desc .contents {
    font-size: 13px !important;
  }

  .fight-swiper {
    width: 750px;
    height: 750px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .price-time {
    width: 750px;
    height: 134px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .price-cont {
      color: #fff;
      width: 398px;
      height: 109px;
      background:
        linear-gradient(
          to right,
          rgb(255, 109, 109),
          rgb(253, 50, 50)
        );
      padding: 10px 0 10px 30px;

      .top {
        height: 64px;
        display: flex;
        align-items: center;

        .current {
          display: flex;
          line-height: 54px;
          font-family: 'JDZhengHei-01-Regular,Helvetica';
          margin-right: 20px;

          .litter {
            // display: flex;
            font-size: 30px;
            font-family: 'PingFangSC-Medium';
          }

          .price {
            font-size: 48px;
          }

          .unit {
            font-size: 24px;
            display: inline-block;
            // color: rgb(137, 137, 137);
          }
        }

        .base {
          align-self: flex-end;
          font-size: 24px;
          line-height: 54px;
          font-family: 'JDZhengHei-01-Regular,Helvetica';
          text-decoration: line-through;
        }
      }

      .bottom {
        font-size: 20px;
        height: 28px;
        line-height: 28px;

        .count {
          background: #fff;
          color: rgb(255, 104, 75);
          padding: 0 18px;
          border-bottom-left-radius: 20px;
          border: 1px solid #fff;
          font-family: 'PingFangSC-Medium';
          // box-shadow: 0 4px 8px rgba(237, 137, 137, 0.5);
        }

        .sale {
          color: #fff;
          padding: 0 20px;
          border: 1px solid #fff;
          border-top-right-radius: 44px;
          border-bottom-right-radius: 44px;
          font-family: 'PingFangSC-Regular';
          // box-shadow: 0 4px 8px rgba(237, 137, 137, 0.5);
        }
      }
    }

    .time-cont {
      width: 325px;
      height: 126px;
      background:
        linear-gradient(
          to bottom,
          rgb(254, 240, 223),
          rgb(252, 216, 209),
          rgb(251, 226, 214)
        );

      .top {
        font-size: 22px;
        font-family: 'PingFangSC-Regular';
        color: rgb(226, 52, 52);
        text-align: center;
        padding-top: 22px;
        margin: 0 auto;
      }

      .bottom {
        margin: 6px auto 0;
      }

      .desc {
        font-size: 26px;
        font-family: 'PingFangSC-Regular';
        color: #fff;
        line-height: 126px;
        text-align: center;
        width: 100%;
      }
    }
  }

  .product-info {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .product-title {
      // display:flex;
      // flex-direction: row;
      // justify-content: flex-start;
      // align-items: flex-start;
      .fight-black {
        font-size: 32px;
        font-family: 'PingFangSC-Medium';
        color: rgb(29, 31, 43);
        position: relative;
        top: 3px;
      }
    }

    .product-desc {
      font-family: 'PingFangSC-Regular';
      color: rgba(29, 31, 43, 0.5);
      font-size: 24px;
      margin-top: 10px;
    }

    .product-red {
      font-family: 'PingFangSC-Regular';
      font-size: 24px;
      color: rgb(226, 52, 52);
      padding-top: 4px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .red-tip {
        width: 34px;
        height: 34px;
        margin-left: 6px;
      }

      .product-groupon-sign {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .split-line {
        display: inline-block;
        margin: 0 16px;
        width: 1px;
        height: 18px;
        background: rgba(226, 52, 52, 0.5);
      }
    }
  }

  .grey-10 {
    background: rgb(248, 248, 248);
    height: 20px;
    width: 750px;
  }

  .fight-square {
    background: #fff;
    padding: 36px 32px 61px;

    .title {
      margin-bottom: 38px;
    }

    .go-team-modal {
      height: 160px;
    }
  }

  .fight-send-to {
    padding: 0 30px;

    .line {
      background: rgba(0, 0, 0, 0.1);
      height: 1px;
    }

    .groupon-detail-send-mark {
      padding: 30px 0;
      color: #252525;
      font-family: 'PingFangSC-Regular';
      font-size: 24px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;

      .send-mark-item {
        margin-right: 18px;
        min-width: 100px;
        vertical-align: top;
      }

      .img {
        position: relative;
        width: 32px;
        height: 32px;
        padding-right: 12px;
        vertical-align: top;
      }
    }

    .shopInfo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 40px;

      .shopName {
        font-size: 26px;
        color: #898989;
        font-family: 'PingFangSC-Regular';
        margin-left: 16px;
      }

      .shopLogo {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        margin-left: 9px;
        border-radius: 50%;
      }
    }
  }

  .today-fight {
    background: #fff;
    padding: 36px 0;

    .title {
      margin-bottom: 10px;
      padding: 0 32px;
    }

    .today-list {
      height: 360px;
    }
  }

  .fight-detail {
    padding-bottom: 240px;
    background: #fff;
    font-size: 28px;

    .title {
      margin: 0 30px;
      height: 86px;
      line-height: 86px;
      color: rgb(137, 137, 137);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .detail-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 98px;
    width: 750px;
    z-index: 3;
  }

  .bottom-tip {
    position: fixed;
    right: 0;
    bottom: 96px;
    left: 0;
    width: 750px;
    min-height: 96px;
    z-index: 3;
  }

  .go-top {
    position: fixed;
    right: 10px;
    bottom: 308px;
  }

  .go-home {
    position: fixed;
    right: 10px;
    bottom: 200px;
  }
}

.noscroll {
  overflow: hidden;
  // height: 100vh;
}

.bottom-tip .bottom-tip-yellow1 {
  box-sizing: border-box;
  position: relative;
  top: 14px;
  min-height: 38px;
  background: rgb(255, 242, 208);
  padding: 23px 30px;
  text-align: center;
  font-size: 26px;
  font-family: 'PingFangSC-Regular';
  color: #ba4d2c;
}
