.today-list-page {
  height: 370px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  white-space: nowrap;
  .cont {
    width: 210px;
    height: 358px;
    margin-right: 16px;
    display: inline-block;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 30px;
    }
  }
}
.today-product-page {
  width: 206px;
  height: 360px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .img {
    width: 210px;
    height: 188px;
    margin-bottom: 10px;
  }
  .today-title {
    font-family: 'PingFangSC-Regular';
    white-space: normal;
    font-size: 24px;
    color: rgb(29, 31, 43);
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    width: 210px;
    height: 80px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    padding-top: 8px;
    .litter-tip {
      display: inline-block;
      background: linear-gradient(90deg, #ff6d6d, #fd3232);
      border-radius: 0 15px 0 15px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      color: #fff;
      font-size: 20px;
      font-family: 'PingFangSC-Regular';
      margin-right: 14px;
      text-align: center;
    }
  }
  .desc {
    font-family: 'PingFangSC-Regular';
    font-size: 20px;
    color: rgba(29, 31, 43, 0.5);
    .grey {
      text-decoration: line-through;
      font-weight: bold;
      padding-left: 4px;
    }
  }
  .price {
    color: rgb(226, 52, 52);
    font-family: 'JDZhengHei-01-Regular,Helvetica';
    .litter {
      font-size: 20px;
      padding-right: 10px;
    }
    .big {
      font-size: 30px;
      font-weight: 500;
      .unit {
        font-size: 20px;
      }
    }
  }
}
