.product-property {
  position: relative;
  display: flex;
  flex-direction: row;
  // align-items: center;
  align-items: flex-start;

  .label {
    min-width: 92px;
    // line-height: 84px;
    font-size: 26px;
    font-family: 'PingFangSC-Regular';
    color: #95969f;
  }

  .contents {
    flex: 1;
    padding: 20px;
    padding-right: 0;
    overflow: hidden;
  }

  .popup {
    position: absolute;
    top: 20px;
    right: 5px;
    // width: 36px;
    // height: 36px;
    // background-image: url(https://m.360buyimg.com/img/jfs/t1/169791/30/4158/414/600e2f50Efe063d0c/5e0bcde89cdf4a89.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

  .text {
    font-size: 26px;
    color: rgb(37, 37, 37);
    // padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .text-icon {
    width: 26px;
    height: 26px;
    background-image: url(//m.360buyimg.com/img/jfs/t1/170807/38/1983/862/5ffaf180Ee8354a96/1a9062ee2fce15da.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
  }

  .service {
    line-height: 74px;
    font-size: 26px;
    color: rgb(37, 37, 37);
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 98%;
  }

  .bank-name {
    // width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sort {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: rgba(29, 31, 43, 1);
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .sort .red {
    color: #ff4b25;
    padding: 0 6px;
    font-family: PingFangSC-Medium;
  }
}
