.wrapper {
  background: #fff;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.customer-title-container {
  height: 40Px; //
  display: flex;
  align-items: center;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 0;
  left: 10Px; //
  width: 40Px; //
  height: 40Px; //
}

.back-btn .image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40Px; //
  height: 40Px; //
  transform: translate(-50%, -50%);
}

.title {
  color: #000;
  //max-width: 300px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50Px; //

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-icon {
      width: 50px;
      height: 50px;

      .user-icon-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .user-name {
      font-size: 28px;
      color: rgb(29, 31, 43);
      padding-left: 20px;
    }
  }

  .cart-icon {
    width: 68px;
    height: 68px;
    margin-left: 30px;
    background-image: url('https://m.360buyimg.com/img/jfs/t1/118301/6/7838/1436/5ec64f89Ef4f1334e/88558e7d63df8c34.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .del-icon {
    width: 68px;
    height: 68px;
    background-image: url('https://m.360buyimg.com/img/jfs/t1/111439/26/8777/1240/5ed4aa0fE6fb76abf/75aae5474c5f9b21.png');
    background-size: 42px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
