.seatAvatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tag {
    min-width: 48px;
    height: 40px;
    line-height: 40px;
    background:
      linear-gradient(
        to right,
        rgba(255, 200, 120, 0.5),
        rgba(244, 167, 104, 0.5)
      );
    text-align: center;
    font-size: 24px;
    font-family: 'PingFangSC-Medium';
    color: rgb(186, 77, 44);
    padding: 0 20px;
  }

  .seatbgc {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(241, 193, 124);
    box-sizing: border-box;
  }

  .topIcon {
    z-index: 0;
    width: 32px;
    height: 26px;
  }

  .topIcon .img {
    width: 32px;
    height: 26px;
  }

  .nameIcon {
    z-index: 0;
    padding: 0 6px;
    height: 30px;
    line-height: 28px;
    border-radius: 6px;
    font-family: 'PingFangSC-Semibold';
    text-align: center;
    margin-top: -20px;
  }

  .userName {
    font-size: 20px;
    display: inline-block;
  }
}
