.handItem {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 690px;
  height: 120px;
  padding: 20px 40px;
  box-sizing: border-box;

  .hand-price {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    width: 134px;
    height: 80px;
    color: #b04500;
    font-family: PingFangSC-Medium;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .hand-price-item {
      font-weight: bold;
      text-align: right;
      width: 134px;
      line-height: 32px;
      display: flex;
      justify-content: center;

      .hand-price-item-sol {
        font-size: 32px;
        margin: 8px 6px 0 0;
      }

      .hand-price-item-amount {
        font-size: 48px;
      }
    }

    .hand-price-great {
      margin-top: 8px;
      width: 134px;
      font-size: 24px;
      color: #b04500;
      font-family: PingFangSC-Regular;
    }
  }
}

.handItem .handItem-avatar {
  width: 80px;
  height: 80px;
}

.handItem .handItem-avatar .handItemImg {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 1px solid rgba(176, 69, 0, 0.6022);
}

.handItem .handmiddle {
  margin: 0 20px;
  width: 424px;
  height: 80px;
}

.handItem .handmiddle .handmiddle-top {
  line-height: 48px;
  font-weight: bold;
  font-family: PingFangSC-Medium;
  font-size: 28px;
  color: rgba(176, 69, 0, 1);
}
// .handItem .handmiddle .handmiddle-top .name {
//   display: inline-block;
//   height: 40px;
//   margin-right: 10px;
//   font-weight: bold;
//   font-family: PingFangSC-Medium;
//   font-size: 28px;
//   color: rgba(176, 69, 0, 1);
// }
// .handItem .handmiddle .handmiddle-top .time {
//   display: inline-block;
//   height: 40px;
//   font-family: 'PingFangSC-Regular';
//   font-size: 24px;
//   color: #bdbdbd;
// }
.handItem .handmiddle .handmiddle-bottom {
  line-height: 24px;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: rgba(176, 69, 0, 0.6022);
}
