.seatItem {
  width: 608px;

  .name {
    display: inline-block;
    min-width: 50px;
    height: 40px;
    line-height: 40px;
    font-family: 'PingFangSC-Medium';
    font-size: 28px;
    color: #252525;
  }

  .time {
    display: inline-block;
    width: 300px;
    height: 34px;
    line-height: 34px;
    margin-left: 20px;
    font-family: 'PingFangSC-Regular';
    font-size: 24px;
    color: rgb(137, 137, 137);
  }

  .info {
    width: 608px;
    min-height: 80px;
    border-top-left-radius: 6px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 18px 30px;
  }

  .info .piece {
    height: 40px;
    font-family: 'PingFangSC-Medium';
    font-size: 28px;
    color: rgb(37, 37, 37);
    display: inline-block;
    white-space: nowrap;
  }

  .info .text {
    font-family: 'PingFangSC-Regular';
    font-size: 24px;
  }

  .info .text .textText {
    display: inline-block;
  }
}
