.modal-wrapper {
  color: #333;
  font-size: 28px;
  display: none;
}

.modal-wrapper.show {
  display: block;
}

.modal-wrapper .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 750px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 3;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.modal-wrapper .top {
  height: 94px;
  line-height: 94px;
  position: relative;
  text-align: center;
  color: rgb(137, 137, 137);
  font-size: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-wrapper .close-wrap {
  display: flex;
  height: 94px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 30px;
  align-items: center;
}

.modal-wrapper .close {
  position: relative;
  display: block;
  background:
    url(//m.360buyimg.com/img/jfs/t12895/99/2618201646/1365/8d2ecb01/5a4509a4N166ae1db.png)
    no-repeat 0 0;
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.modal-body {
  min-height: 400px;
  max-height: 650px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.toasts-info {
  padding: 20px;
}

.modal-body p {
  padding: 30px;
  font-size: 20px;
}
