// 品类
.couponheader {
  position: absolute;
  bottom: 336px;
  left: 50%;
  transform: translateX(-50%);
  font-family: PingFangSC-Medium;
  font-size: 28px;
  color: #ff442a;
}

.couponheader .category {
  font-weight: bold;
}
// .couponheader .channel {
//   display: inline-block;
//   vertical-align: middle;
//   height: 34px !important;
//   line-height: 34px !important;
//   margin-left: 20px;
//   padding: 0 10px;
//   border-radius: 9px 32px 32px 32px;
//   background-color: rgb(254, 107, 105);
//   color: #fff;
//   font-weight: bold;
//   font-family: 'PingFangSC-Regular' !important;
//   font-size: 20px !important;
// }

// 金额
.price {
  position: absolute;
  bottom: 240px;
  left: 50%;
  transform: translateX(-50%);
  // line-height: 36px;
  font-family: PingFangSC-Medium;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.price .priceIcon {
  margin-top: 44px;
  font-weight: bold;
  font-size: 36px;
  color: #ff2000;
}

.price .amount {
  color: #ff4b25;
  font-weight: bold;
  font-family: 'HelveticaNeue-Medium';
  font-size: 88px;
  margin-left: 8px;
}

.channelType {
  position: absolute;
  top: 14px;
  right: -132px;
}

.channelTypeName {
  position: relative;
  padding: 4px 14px;
  background:
    linear-gradient(
      270deg,
      rgba(16, 189, 15, 1) 0%,
      rgba(78, 211, 42, 1) 100%
    );
  border-radius: 105px 105px 105px 2px;
  font-family: PingFangSC-Medium;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.772);
}

.couponbottom {
  position: absolute;
  bottom: 206px;
  left: 50%;
  transform: translateX(-50%);
  color: #b04500;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.couponbottom .fullreduction {
  font-weight: bold;
}

.couponbottom-line {
  width: 2px;
  height: 22px;
  background: rgba(180, 78, 11, 1);
  opacity: 0.2003;
  margin: 0 14px;
}

.couponbottom .aging {
  font-weight: bold;
}

.user {
  position: absolute;
  bottom: 164px;
  left: 50%;
  transform: translateX(-50%);
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: rgba(176, 69, 0, 0.8038);
}
