.formal-title {
  padding: 60rpx 0 40rpx 0;
  line-height: 1;
  font-family: PingFangSC-Medium;
  font-size: 40rpx;
  font-weight: 500;
  color: #252525;
  display: flex;
  align-items: center;
  .color {
    width: 10rpx;
    height: 30rpx;
    background: url('//m.360buyimg.com/img/jfs/t1/84489/20/7510/134/5d54b991Eefb5aebd/712e8f21763a5321.png');
    background-size: 100% 100%;
    margin-right: 20rpx;
    display: inline-block;
    vertical-align: middle;
  }
}