.sentTo {
  width: 100%;
  height: 120px;
}

.solitaire-sendTo {
  height: 86px;
}

.sentTo .contain {
  position: relative;
  height: 100%;

  /* margin: 0 30px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sentTo .title {
  display: inline-block;
  height: 40px;
  width: 60px;
  padding-right: 10px;
  font-size: 26px;
  font-family: 'PingFangSC-Regular';
  color: rgb(137, 137, 137);
}

.sentTo .solitaire-title,
.sentTo .solitaire-info {
  font-size: 26px;
  padding-right: 20px;
}

.sentTo .addressInfo {
  display: inline-block;
  vertical-align: middle;
  width: 480px;
  height: 40px;
  margin-right: 76px;
  font-size: 28px;
  font-family: 'PingFangSC-Medium';
  color: rgb(37, 37, 37);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sentTo .addressImg {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  background: url(//m.360buyimg.com/img/jfs/t1/28375/30/4596/631/5c3408faEcbfb4bee/f61cbb2f4795fc15.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.sentTo .line {
  margin: 0 30px;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
}
