.user-box{
  padding: 0 30px;
}
.content-box {
  width: 690px;
  margin: 20px auto 0;
  font-family: PingFangSC-Regular;
  font-size: 30px;
  line-height: 46px;
  color: rgba(37,37,37,1);
  .content-name {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .content-item {
    margin-bottom: 40px;
    .img {
      width: 690px;
      border-radius: 16px;
      margin-bottom: 30px;
    }
    .img:last-of-type{
      margin-bottom: 0;
    }
    .desc {
      padding-top: 20px;
      line-height: 40px;
      font-size: 26px;
    }
  }
}
