::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.text-placeholder {
  color: #e6e6e6;
}

.search-container {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100vw;
  z-index: 2;
}
.search-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
.search-cancel {
  font-size: 30rpx;
  color: #252525;
  line-height: 86rpx;
}
.search-bar {
  width: 600rpx;
  height: 56rpx;
  border-radius: 28rpx;
  background: #f2f2f2;
  font-size: 30rpx;
  margin: 16rpx 30rpx;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  font-family: "PingFangSC-Regular";
}
.search-icon {
  margin: 15rpx 14rpx 15rpx 16rpx;
  width: 26rpx;
  height: 26rpx;
}
.search-input {
  width: 534rpx;
  height: 56rpx;
}
.search-result {
  padding: 86rpx 30rpx 30rpx;
}
.item {
  padding: 30rpx 0;
  &.disabled {
    .title {
      color: #b7b7b7;
    }
    .address {
      color: #b7b7b7;
    }
  }
}
.title {
  font-size: 30rpx;
  color: #252525;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.address {
  font-size: 26rpx;
  color: rgb(137, 137, 137);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.current .title,
.current .address {
  color: rgb(22, 89, 139);
}
