.alert-dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translateY(100%);
  //display: none;
  .wrap {
    position: absolute;
    top: 0;
    width: 750rpx;
    height: 100%;
    left: 0;
    z-index: 21;
  }
  .content {
    position: absolute;
    top: 334rpx;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.5s;
    transform: translateY(100%);
    z-index: 21;
  }
  &.show {
    display: block;
    transform: translateY(0);
    .content {
      transform: translateY(0);
    }
  }
}
