.solitaireProductItem {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 40px;
}

.solitaireProductItemContent {
  margin: 0 30px 40px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.solitaireProductItem .solitaireProductItemHeader {
  display: flex;

  /* flex布局以后，子元素的float、clear、vertical-aling属性失效 */
  flex-direction: row;
  height: 72px;
  flex: 1;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.commanderHeaderContent {
  height: 72px;
  width: 72px;
  border-radius: 6px;
  overflow: hidden;
}

.solitaireProductItem .commanderHeaderImg {
  height: 72px;
  width: 72px;
}

.solitaireProductItem .solitaireProductItemHeader .commanderTitle {
  font-family: 'PingFangSC-Regular';
  margin-left: 20px;
  font-size: 28px;
  line-height: 72px;
  color: rgb(15, 21, 53);
}

.solitaireProductItem .solitaireProductItemHeader .commandereRcommend {
  font-family: 'PingFangSC-Semibold';
  font-size: 28px;
  line-height: 72px;
  margin-left: 20px;
  width: 464px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.curSolitaireInfo {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 20px;
}

.curSolitaireInfo .solitaireInfoCount {
  font-size: 26px;
  margin-left: 20px;
  font-family: 'PingFangSC-Medium';
  color: rgb(186, 77, 44);
}

.solitaireRecommendation {
  position: relative;
  max-height: 176px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 26px;
  font-family: 'PingFangSC-Regular';
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 20px;
  color: rgb(186, 77, 44);
}

.solitaireRecommendation .solitaireRecommendationImg {
  width: 30px;
  height: 30px;
  padding-right: 20px;
  position: relative;
  top: 8px;
}

.solitaireRecommendationInfo {
  margin-left: -46px;
  margin-right: 20px;
  font-size: 26px;
  text-indent: 40px;
  line-height: 44px;
  color: rgb(186, 77, 44);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.solitaireProductInfo {
  margin-left: 10px;
  margin-bottom: 30px;
}
