.team-detail-modal {
  padding-top: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  padding-bottom: 37.2px;

  .main {
    margin: 0 auto;
  }

  .title {
    margin: 0 auto 24px;
  }

  .time {
    margin: 0 auto 37.6px;
  }

  .desc-info {
    font-size: 30px;
    font-family: 'PingFangSC-Regular';
    margin: 0 auto 20px;

    .red {
      color: #fe4242;
    }
  }

  .fight-user-top {
    margin: 30px auto;
  }

  .title-ok {
    font-family: 'PingFangSC-Medium';
    font-size: 34px;
    color: rgb(29, 31, 43);
    text-align: center;
    margin: 0 auto;
  }

  .fight-big-btn {
    background: linear-gradient(to right, rgb(255, 109, 109), rgb(253, 50, 50));
    color: #fff;
    width: 578px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    font-family: 'PingFangSC-Medium';
    font-size: 28px;
    border-radius: 50px;
    margin: 0 84px;
  }

  button::after {
    border: none;
  }
}
