.del-confirm-layer {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.del-confirm-modal {
  width: 580px;
  height: 308px;
  border-radius: 16px;
  background: #fff;
  position: fixed;
  margin: auto;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;

  .del-confirm-modal-txt {
    width: 580px;
    height: 210px;
    line-height: 210px;
    text-align: center;
    font-size: 32px;
    color: #252525;
  }

  .del-confirm-modal-btns {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 32px;

    .cancel-btn {
      height: 98px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .sure-btn {
      height: 98px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      color: rgb(0, 105, 140);
    }
  }
}
