.topic-list {
  width: 100%;
  height: 180px;
  // padding-left: 30px;
  box-sizing: border-box;
  overflow-x: auto;
  background: rgba(249, 249, 249, 1);

  .topic-list-box {
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    .topic-item {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      margin-right: 22px;
      display: flex;
      align-self: center;
      position: relative;

      .img {
        width: 254px;
        height: 140px;
        border-radius: 8px;
        align-self: center;
      }

      .topic-mask1 {
        width: 8px;
        height: 126px;
        position: absolute;
        top: 26px;
        right: -6px;
        z-index: 0;
        border-radius: 0 4px 4px 0;
        background: #d9dee7;
      }

      .topic-mask2 {
        width: 8px;
        height: 110px;
        position: absolute;
        top: 34px;
        right: -14px;
        z-index: 1;
        border-radius: 0 4px 4px 0;
        background: #eff1f4;
      }

      .topic-mask3 {
        width: 254px;
        height: 140px;
        position: absolute;
        top: 20px;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        z-index: 2;
      }

      .topic-con {
        position: absolute;
        top: 20px;
        left: 0;
        height: 140px;
        padding: 18px 20px;
        box-sizing: border-box;
        z-index: 3;

        .title {
          width: 214px;
          height: 60px;
          line-height: 30px;
          font-family: PingFangTC-Regular;
          font-size: 24px;
          color: rgba(255, 255, 255, 1);
          display: flex;

          .tag-icon {
            width: 28px;
            height: 28px;
            background:
              url(//m.360buyimg.com/img/jfs/t1/126831/2/422/1044/5eb51a9cEcc6ea3ad/eaab40350d704755.png)
              no-repeat;
            background-size: 100% 100%;
            margin-right: 6px;
          }

          .txt {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }

        .tag {
          display: inline-block;
          height: 30px;
          background: rgba(0, 0, 0, 0.45);
          border-radius: 4px 17px 17px 17px;
          font-family: PingFangTC-Regular;
          font-size: 18px;
          color: rgba(246, 246, 246, 1);
          padding: 0 12px;
          box-sizing: border-box;

          .line {
            width: 2px;
            height: 12px;
            background: rgba(246, 246, 246, 1);
            border-radius: 1px;
            display: inline-block;
            margin: 0 9px;
          }
        }
      }
    }

    .topic-item:first-of-type {
      margin-left: 30px;
      box-sizing: border-box;
    }

    .more-box {
      display: flex;
      justify-content: space-between;

      .more {
        width: 72px;
        height: 141px;
        padding: 22px 25px 58px 22px;
        box-sizing: border-box;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        color: rgba(149, 150, 159, 1);
        background: rgba(255, 255, 255, 1);
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
        position: relative;
        margin-left: 10px;

        .arrow {
          position: absolute;
          bottom: 22px;
          left: 28px;
          width: 10px;
          height: 17px;
          background:
            url(//m.360buyimg.com/img/jfs/t12142/98/2629395361/380/1e548070/5a4509a4N4082c1bd.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }

      .empty-box {
        width: 30px;
        height: 100%;
        // padding-right: 30px;
      }
    }
  }
}
