.after-sales-model-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 56px;
  box-sizing: border-box;

  .tips-con {
    box-sizing: border-box;

    .after-sales-model-title {
      height: 30px;
      line-height: 30px;
      font-family: 'PingFangSC-Medium';
      font-size: 38px;
      color: rgba(37, 37, 37, 1);
    }

    .after-sales-model-desc {
      width: 100%;
      height: 88px;
      line-height: 44px;
      font-family: 'PingFangSC-Regular';
      font-size: 30px;
      color: rgba(37, 37, 37, 1);
      text-align: center;
      margin: 20px 0 30px;
      padding: 0 76px;
      box-sizing: border-box;
    }

    .big {
      height: 30px;
      line-height: 30px;
      font-family: 'PingFangSC-Regular';
      font-size: 36px;
      color: rgba(37, 37, 37, 1);
    }
  }

  .shop-list {
    padding: 0 30px;
    overflow-y: auto;
    height: 572px;
    box-sizing: border-box;

    .after-sales-model-title {
      height: 42px;
      line-height: 42px;
      padding-bottom: 20px;
      font-family: 'PingFangSC-Medium';
      font-size: 30px;
      color: rgba(29, 31, 43, 1);
      border-bottom: 2px solid rgba(194, 194, 194, 0.3);
      margin-bottom: 15px;
      position: relative;

      .close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 22px;
        height: 22px;
        background:
          url(//m.360buyimg.com/img/jfs/t12895/99/2618201646/1365/8d2ecb01/5a4509a4N166ae1db.png)
          no-repeat;
        background-size: 100% 100%;
      }
    }

    .info {
      height: 50px;
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .left {
        width: 540px;
        height: 30px;
        line-height: 30px;
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        color: rgba(29, 31, 43, 1);
        text-align: left;
      }

      .right {
        img {
          width: 36px;
          height: 36px;
        }

        .dot {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 2px solid rgba(217, 217, 217, 1);
          box-sizing: border-box;
        }
      }
    }

    .info.hide {
      display: none;
    }
  }
}

.after-sales-model-footer {
  .one-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  .two-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #f9f9f9;

    .cancel-btn {
      color: #252525;
      font-size: 30px;
      height: 80px;
      line-height: 80px;
      width: 374px;
    }

    .line {
      width: 2px;
      height: 80px;
      background: #f9f9f9;
    }

    .ok-btn {
      color: #00ab0c;
      font-size: 30px;
      height: 80px;
      line-height: 80px;
      width: 374px;
    }
  }
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 100vh;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
}

.modal .main {
  width: 670px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal .header {
  font-size: 32px;
}

.modal .contain {
  font-size: 32px;
  flex: 1;
}

.modal .footer {
  font-size: 32px;
}

.modal .content {
  height: 572px;
  margin-left: 20px;
  margin-right: 20px;
}
