.AdPop {
  width: auto;
  height: auto;
}

.popup-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 101;
}

.close {
  position: fixed;
  right: 0;
  bottom: -80px;
  left: 0;
  margin: auto;
  width: 45px;
  height: 45px;
  background-image: url(https://m.360buyimg.com/img/jfs/t17203/344/758730887/2527/454e14ad/5aa67102N214c6d45.png);
  z-index: 999;
  background-repeat: no-repeat;
  background-size: 100%;
}

.popup-link {
  display: block;
  width: 460px;
  height: 680px;
}

.Image {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.count-time-img,
.count-btn-img {
  position: absolute;
  right: 0;
  bottom: 100px;
  left: 0;
  margin: auto;
  z-index: 999;
}

.count-time-img {
  width: 120px;
  height: 180px;
}

.count-btn-img {
  width: 240px;
  height: 134px;
}

.count-down-txt {
  position: absolute;
  right: 0;
  bottom: 230px;
  left: 0;
  margin: auto;
  font-size: 28px;
  color: rgb(255, 233, 190);
  text-align: center;
}

.coupon-suc-container {
  width: 520px;
  height: 780px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;

  .Image {
    display: block;
    width: 100%;
    height: 100%;
  }

  .coupon-list {
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -190px;
    flex-direction: column;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;

    .coupon-list::-webkit-scrollbar {
      display: none;
    }

    .coupon {
      width: 379px;
      height: 105px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      margin-bottom: 18px;
      display: flex;
      background-image: url('https://m.360buyimg.com/img/jfs/t1/91556/19/8975/2026/5e0957c8E919deb8e/20bea05a540997ea.png');

      .coupon-left {
        width: 162px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .coupon-unit {
          font-size: 29px;
          color: rgba(255, 255, 255, 1);
          padding-top: 20px;
          width: 18px;
          margin-right: 4px;
        }

        .coupon-money {
          font-size: 63px;
          color: rgba(255, 255, 255, 1);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .coupon-right {
        height: 100%;
        width: 218px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .coupon-name {
          line-height: 61px;
          font-size: 21px;
          color: rgba(255, 255, 255, 1);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 196px;
        }

        .coupon-rule {
          background: rgba(255, 246, 230, 1);
          border-radius: 14px;
          color: #d85643;
          font-size: 18px;
          line-height: 28px;
          vertical-align: middle;
          padding: 0 15px;
          text-align: center;
          height: 27px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 166px;
        }
      }
    }
  }

  .coupon:last-child {
    margin-bottom: 0;
  }
}
