.video-page {
  // background: #000;
  height: 100%;
}
.video-detail {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 0;
  background: #000;
  height: 100%;
  width: 750px;
}
.page-bottom {
  position: fixed;
  bottom: 0;
  width: 750px;
}
.top-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 750px;
  height: 196px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 100%
  );
  z-index: 1;
}
.right-fixed-area {
  position: fixed;
  right: 28px;
  bottom: 130px;
  z-index: 100;
  .go-top,
  .to-7club {
    width: 88px;
    height: 88px;
    opacity: 0.95;
  }
  .to-7club {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(151, 151, 151, 0.3);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    color: rgb(94, 100, 109);
    font-size: 22px;
    font-family: 'PingFangSC-Semibold';
    display: flex;
    justify-content: center;
    align-items: center;
    .hometext {
      line-height: 26px;
      margin: 18px 22px;
    }
  }
}
.video {
  z-index: 0;
  width: 750px;
  height: 800px;
}
cover-view {
  visibility: visible !important;
}
.cover {
  font-size: 50px;
  z-index: 10;
  position: fixed;
  top: 240px;
  left: 50px;
  width: 400px;
  height: 300px;
  color: #f00;
}
