
@import '../../../../common/theme.scss';
.video-bottom {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;

  .func {
    display: flex;
    align-items: center;

    .like-box {
      display: flex;
      align-items: center;
      padding: 30px;
    }

    .img {
      width: 60px;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .share-btn {
      box-sizing: content-box;
      padding: 30px;
      width: 40px;
      height: 40px;
      display: inline-block;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      background-position: center center;
      border-radius: 0;
    }

    .share-btn::after {
      border: none;
    }

    .like {
      margin-right: 10px;
    }

    .like-num {
      font-family: 'PingFangSC-Medium';
      font-size: 24px;
    }
  }

  .right-box {
    display: flex;
    align-items: center;
    margin-right: 30px;

    .cart-btn {
      box-sizing: border-box;
      width: 140px;
      height: 60px;
      text-align: center;
      border: 2px solid #b6b8bf;
      border-radius: 30px;
      position: relative;

      .cart {
        width: 56px;
        height: 56px;
      }

      .cart-num {
        position: absolute;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        top: 6px;
        right: 10px;
        font-size: 20px;
        color: #fff;
        background-color: red;
        text-align: center;
        padding: 1px;
      }
    }

    .right-btn {
      box-sizing: border-box;
      min-width: 120px;
      padding: 0 26px;
      margin-left: 20px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #fff;
      font-size: 26px;
      font-family: 'PingFangSC-Regular';
      background:$btnColor;
      border-radius: 30px;
    }
  }
}
