.my {
  position: relative;
  .index-image {
    width: 100%;
  }
  .tab-item {
    padding: 30px 30px 200px;
    background-color: #fafbfc;
    text-align: center;
  }
  .tab-item-text {
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 10px;
  }
}
