@import '../../../../common/theme.scss';

.zone-warp {
  margin: 0 auto 20px;
  width: 690px;
  border-radius: 16px;

  &.bg {
    background:
      url(//m.360buyimg.com/img/jfs/t1/140246/10/1634/616458/5ef86665E3885fc54/7e4a8a8f29fd8e88.png)
      no-repeat;
    background-size: 100% 100%;
  }

  .coupon-box {
    width: 100%;
    height: 242px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;

    &.bg {
      background:
        url(//m.360buyimg.com/img/jfs/t1/130319/38/3217/267993/5ef86cd5E1bb619b7/52e2bd58976c1345.png)
        no-repeat;
      background-size: 100% 100%;
    }

    &-title {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      .left {
        width: 170px;
        height: 50px;
        background:
          url(//m.360buyimg.com/img/jfs/t1/122070/17/4507/12645/5ee1992dEed3be042/a52dd9f1685235a7.png)
          no-repeat;
        background-size: 170px 34px;
        background-position: 0 6px;
        margin-top: 20px;
      }

      .right {
        width: 300px;
        height: 90px;
        line-height: 90px;
        font-family: Helvetica-Bold;
        font-size: 22px;
        color: rgba(113, 44, 0, 1);
        background:
          url(//m.360buyimg.com/img/jfs/t1/143258/12/1590/517973/5ef8652aEbb1ced04/43c9acfb8792e4a7.gif)
          no-repeat;
        background-size: 100% 100%;
        padding: 0 0 0 90px;
        border-radius: 0 16px 0 0;
        box-sizing: border-box;
      }

      .is-get {
        width: auto;
        height: 90px;
        padding-right: 20px;
        background: none;
        font-size: 24px;
        color: rgba(255, 238, 183, 1);
      }
    }

    &-list {
      display: flex;
      overflow: auto;

      .list {
        display: flex;
        flex-direction: row;
        overflow: visible;

        .info {
          width: 320px;
          height: 132px;
          background:
            url(//m.360buyimg.com/img/jfs/t1/136306/34/1883/1720/5ee0a614E187625c0/fdca0ea19932e18c.png)
            no-repeat;
          background-size: 100% 100%;
          box-shadow: 0 8px 14px 0 rgba(166, 0, 0, 0.2);
          display: flex;
          border-radius: 8px;
          margin-right: 8px;
          flex-grow: 0;
          flex-shrink: 0;
          position: relative;

          .info-left-icon {
            position: absolute;
            top: 0;
            left: 0;
            height: 28px;
            line-height: 28px;
            font-family: PingFangSC-Regular;
            font-size: 20px;
            color: rgba(255, 255, 255, 1);
            background:
              linear-gradient(
                270deg,
                rgba(131, 210, 137, 1) 0%,
                rgba(36, 191, 49, 1) 100%
              );
            border-radius: 8px 0 14px 0;
            padding: 0 6px;
            box-sizing: border-box;

            &.yellow {
              background:
                linear-gradient(
                  267deg,
                  rgba(255, 178, 64, 1) 0%,
                  rgba(255, 153, 64, 1) 100%
                );
            }

            &.blue {
              background: $btnColor;
            }
          }

          &-left {
            width: 135px;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &-price {
              height: 60px;
              line-height: 60px;
              font-family: HelveticaNeue-Bold;
              font-size: 48px;
              color: rgba(255, 75, 37, 1);
              position: relative;
              padding-left: 18px;
              box-sizing: border-box;

              &::before {
                position: absolute;
                top: 6px;
                left: 0;
                content: '¥';
                width: 18px;
                height: 28px;
                font-family: HelveticaNeue-Bold;
                font-size: 30px;
                color: rgba(255, 75, 37, 1);
              }
            }

            &-discount {
              height: 60px;
              line-height: 60px;
              font-family: HelveticaNeue-Bold;
              font-size: 48px;
              color: rgba(255, 75, 37, 1);
              position: relative;
              box-sizing: border-box;
            }
          }

          &-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            &-fir {
              width: 183px;
              height: 28px;
              line-height: 28px;
              font-family: PingFangSC-Regular;
              font-size: 22px;
              text-align: center;
              color: rgba(255, 75, 37, 1);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &-sec {
              width: 183px;
              height: 28px;
              line-height: 28px;
              font-family: PingFangSC-Regular;
              font-size: 20px;
              text-align: center;
              color: rgba(149, 150, 159, 1);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &-img {
              position: absolute;
              top: 0;
              right: 0;
              width: 96px;
              height: 80px;
            }
          }
        }

        .info:last-of-type {
          margin-right: 20px;
        }
      }
    }

    .list-shadow {
      position: absolute;
      top: 90px;
      right: 0;
      width: 20px;
      height: 132px;
      background:
        linear-gradient(
          270deg,
          rgba(244, 77, 77, 1) 0%,
          rgba(243, 78, 78, 0) 100%
        );
    }
  }

  .goods-box {
    height: auto;
    padding: 8px 20px 20px;
    box-sizing: border-box;
    border-radius: 16px;

    &.bg {
      height: 342px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/111560/38/11276/376782/5ef86d28E32dead6c/36086e27796736a2.png)
        no-repeat;
      background-size: 100% 100%;
      padding-top: 22px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        font-family: PingFangSC-Semibold;
        display: flex;
        align-items: center;

        .tit {
          width: 170px;
          height: 50px;
          background:
            url(//m.360buyimg.com/img/jfs/t1/134771/20/1988/10739/5ee19f7aE23fceca2/0876abb80ef96a72.png)
            no-repeat;
          background-size: 170px 34px;
          background-position: 0 6px;
        }

        .tips {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          font-family: PingFangSC-Regular;
          font-size: 20px;
          color: rgba(255, 238, 183, 1);
          margin-left: 6px;
        }
      }

      .right {
        width: 230px;
        height: 34px;
        line-height: 34px;
        background:
          linear-gradient(
            97deg,
            rgba(223, 62, 62, 1) 0%,
            rgba(228, 24, 24, 1) 100%
          );
        border-radius: 17px;
        padding: 0 8px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &-txt {
          display: inline-block;
          font-family: PingFangSC-Regular;
          font-size: 24px;
          color: rgba(255, 255, 255, 1);
          position: relative;
          padding-left: 28px;

          &::before {
            content: '';
            position: absolute;
            top: 6px;
            left: 0;
            width: 22px;
            height: 22px;
            background:
              url(//m.360buyimg.com/img/jfs/t1/113352/24/9808/855/5ee094b9Ef3309f3b/ff8f10a15a818415.png)
              no-repeat;
            background-size: 100% 100%;
          }

          &:last-of-type {
            margin-left: 12px;
          }
        }
      }
    }

    .scroll-wrap {
      margin-top: 20px;
      border-radius: 8px;
      background: #fff;

      .goods-box-list {
        height: 232px;
        background: #fff;
        border-radius: 8px;
        display: flex;

        .goods-info {
          width: 172px;
          height: 100%;
          background: rgba(255, 255, 255, 1);
          border-radius: 8px;
          padding: 10px 16px;
          box-sizing: border-box;

          &-img {
            width: 140px;
            height: 140px;
          }

          &-con {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            position: relative;

            .con-price {
              width: 100px;
              height: 26px;
              line-height: 26px;
              font-family: PingFangSC-Medium;
              font-size: 24px;
              color: rgba(225, 37, 27, 1);
            }

            .con-price-gray {
              width: 100px;
              height: 26px;
              line-height: 26px;
              font-family: PingFangSC-Regular;
              font-size: 24px;
              color: rgba(149, 150, 159, 1);
              text-decoration: line-through;
            }

            .add-cart {
              position: absolute;
              right: 0;
              bottom: 4px;
              width: 40px;
              height: 40px;
              background: url($addCartBtn) no-repeat;
              background-size: 100% 100%;

              &.disable {
                background:
                  url(//m.360buyimg.com/img/jfs/t1/121094/29/1932/1438/5ec22ee5E5be99fe1/125f3d83b99e19aa.png)
                  no-repeat;
                background-size: 100% 100%;
              }
            }
          }
        }

        .see-all {
          width: 70px;
          height: 232px;
          line-height: 42px;
          font-family: PingFangSC-Regular;
          font-size: 28px;
          color: rgba(149, 150, 159, 1);
          background: rgba(255, 255, 255, 1);
          box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
          padding: 18px 20px 0 21px;
          box-sizing: border-box;
          position: relative;

          &::before {
            width: 11px;
            height: 19px;
            position: absolute;
            bottom: 20px;
            left: 28px;
            content: '';
            background:
              url(//m.360buyimg.com/img/jfs/t12142/98/2629395361/380/1e548070/5a4509a4N4082c1bd.png)
              no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}
