.info-modal {
  position: relative;

  .info-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 750px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 201;
  }

  .info-modal-fireworks {
    position: fixed;
    top: 190px;
    width: 658px;
    height: 478px;
    left: 44px;
    z-index: 201;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .info-modal-content {
    z-index: 202;
    position: fixed;
    top: 330px;
    left: 0;
    width: 100%;
  }

  .info-modal-n {
    margin: 0 auto;
    width: 625px;
    //height: 444px;
    border-radius: 10px;
    box-shadow: 0 2px 24px rgba(43, 82, 102, 0.05);
    text-align: center;
    position: relative;
  }

  .info-modal-top {
    width: 484px;
    height: 116px;
    background-color: #fff;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    padding: 20px;
    overflow: hidden;
  }

  .info-left {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 111px;
    height: 116px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .coupon-content {
      line-height: 18px;
      font-weight: bold;
      font-size: 24px;
      color: rgba(196, 111, 89, 1);
      text-align: center;
      font-family: HelveticaNeue-Bold;
      padding-top: 20px;

      .large {
        line-height: 39px;
        font-weight: bold;
        font-size: 38px;
      }
    }

    .ps {
      position: absolute;
      margin: 0;
      bottom: 10px;
      width: 100%;
      padding: 0 5px;
      text-align: center;
      line-height: 24px;
      height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: rgba(201, 129, 18, 1);
      left: 0;
    }
  }

  .info-right {
    padding-left: 150px;
    text-align: left;

    .h4s {
      line-height: 40px;
      font-size: 28px;
      color: rgba(0, 0, 0, 1);
      margin: 0 0 8px 0;
    }

    .section {
      line-height: 32px;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.4);
      margin: 0;
    }

    .green-logo {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  .main-box {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: relative;
    height: 128px;
  }

  .leftLogo {
    position: absolute;
    top: -16px;
    left: -8px;
    background-image: url('https://m.360buyimg.com/img/jfs/t1/142554/24/14519/15196/5fb23f09E18473223/738c23155169765d.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 152px;
    height: 68px;
  }

  .modal-header {
    padding: 0 30px;
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .subTitle {
      margin-top: 0;
      margin-bottom: 8px;
      height: 34px;
      line-height: 34px;
      font-size: 24px;
      color: rgba(255, 255, 255, 1);
    }
  }

  .modal-header .h3s {
    line-height: 48px;
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 6px 8px rgba(255, 63, 29, 1);
    padding: 2px 0;
    font-weight: bold;
  }

  .modal-more {
    position: absolute;
    top: 55%;
    right: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 23px;
    line-height: 34px;
    font-size: 24px;
    color: #ff3c00;
    transform: translateY(-22px);
    padding: 5px 17px;
  }

  .modal-main {
    display: block;
    background-color: rgba(255, 255, 255, 1);

    .coupon-box {
      padding: 15px 20px 0;
      border-radius: 16px;
    }
  }

  .modal-footer {
    padding-bottom: 20px;

    .modal-btn {
      display: inline-block;
      background:
        linear-gradient(
          180deg,
          rgba(255, 118, 0, 1) 0%,
          rgba(255, 42, 0, 1) 100%
        );
      border-radius: 42px;
      height: 68px;
      line-height: 68px;
      font-family: PingFangSC-Semibold;
      font-size: 32px;
      color: rgba(255, 255, 255, 1);
      padding: 0 80px;
      margin-bottom: 10px;
    }

    .time-less {
      bottom: 20px;
      line-height: 34px;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.3994);

      .times {
        display: inline-block;
        margin-left: 10px;
        color: rgba(253, 53, 50, 1);
      }
    }
  }

  .close-btn,
  .close-btn .closeImg {
    width: 30px;
    height: 30px;
  }

  .close-btn {
    margin: 50px auto 0;
  }
}
