.wrapper {
  background: #fff;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
}

.note-title-container {
  height: 40Px; //
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 0;
  left: 10Px; //
  width: 40Px; //
  height: 40Px; //
}

.back-btn .image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40Px; //
  height: 40Px; //
  transform: translate(-50%, -50%);
}

.back-btn .closeImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24Px; //
  height: 24Px; //
  transform: translate(-50%, -50%);
}

.title {
  font-size: 14Px; //
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.r-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 48px;
  background:
    linear-gradient(
      270deg,
      rgba(2, 181, 14, 1) 0%,
      rgba(11, 201, 0, 1) 100%
    );
  border-radius: 24px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  //margin-left: 60px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 200px;
  bottom: 0;
  //left:0;
}
