.fight-big-btn{
  background: linear-gradient(to right, rgb(255,109,109), rgb(253,50,50));
  color:#fff;
  width:578px;
  height:84px;
  line-height: 84px;
  text-align: center;
  font-family: 'PingFangSC-Medium';
  font-size:28px;
  border-radius:50px;
  margin:0 84px;
}
