.bill-list {
  white-space: nowrap;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}
.bill-item {
  display: inline-block;
  height: 244px;
  margin-right: 16px;
  &:first-of-type {
    margin-left: 30px;
  }
  .img {
    width: 180px;
    height: 180px;
    border-radius: 16px;
    overflow: hidden;
  }
  .title {
    width: 180px;
    font-size: 28px;
    color: rgba(37, 37, 37, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
