@import '../../../../../../common/theme.scss';

.recommend-item {
  display: inline-flex;
  background: #f9f9f9;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 20px;
  border-radius: 8px;
  width: 440px;
  height: 100px;

  .img-box {
    position: relative;

    .img {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      margin-right: 12px;
    }

    .img-none {
      opacity: 0.7;
    }

    .img-shadow {
      z-index: 1;
      position: absolute;
      top: 24px;
      left: 8px;
      width: 64px;
      height: 32px;
      line-height: 32px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 16px;
      // width: 20px;
      // height: 14px;
      // line-height: 14px;
      font-family: 'PingFangSC-Regular';
      font-size: 20px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .name {
      width: 240px;
      font-size: 26px;
      line-height: 36px;
      color: #252525;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .price {
      font-size: 22px;
      line-height: 32px;
      color: #e23434;
    }

    .no-price {
      font-size: 22px;
      color: rgb(137, 137, 137);
    }
  }

  .cart-box {
    display: flex;
    width: 98px;
    // height: 100px;
    justify-content: center;
    align-items: center;

    .cart {
      width: 40px;
      height: 40px;
      background-image: url($addCartBtn);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .cart.disable {
      background-image: url('https://m.360buyimg.com/img/jfs/t1/121094/29/1932/1438/5ec22ee5E5be99fe1/125f3d83b99e19aa.png');
    }
  }

  .similer-box {
    display: flex;
    width: 98px;
    justify-content: center;
    align-items: center;

    .find-similer {
      width: 90px;
      z-index: 1;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      font-size: 22px;
      text-align: center;
      color: rgba(29, 31, 43, 1);
      border: 1px solid rgba(37, 37, 37, 0.5);
    }
  }
}
