$titleColor: rgb(37, 37, 37);
$dotActive: '//m.360buyimg.com/img/jfs/t1/20495/31/7503/879/5c6d6a2eEaef39f06/5fd42685036a19d4.png';

.time-title {
  height: 84px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;

  .dot {
    position: absolute;
    top: 30px;
    left: -38px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(0, 105, 140);
    z-index: 10;
  }

  .dot-active {
    position: absolute;
    top: 22px;
    left: -46px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url($dotActive) no-repeat;
    background-size: 100% 100%;
    z-index: 9;
  }

  .title,
  .tips {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    // width: 160px;
    margin-right: 40px;
    color: $titleColor;

    .week {
      height: 56px;
      line-height: 56px;
      font-family: STSongti-SC-Black;
      font-size: 40px;
    }

    .date {
      height: 40px;
      line-height: 40px;
      font-family: STSongti-SC-Bold;
      font-size: 28px;
    }
  }

  .split-line {
    width: 2px;
    height: 52px;
    background-color: rgba(236, 224, 222, 0.5);
    margin-right: 40px;
  }

  .txt {
    .title {
      height: 44px;
      line-height: 44px;
      font-family: PingFangSC-Medium;
      font-size: 32px;
      color: $titleColor;
      margin-bottom: 6px;
    }

    .tips {
      height: 34px;
      line-height: 34px;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: rgb(137, 137, 137);

      .line {
        margin-left: 7px;
        margin-right: 8px;
      }
    }
  }
}
