@import '../../common/theme.scss';

.my-order-detail {
  width: 100%;
  height: 100%;
  background: #f8f8f8;

  .hot-items-list {
    background: #f8f8f8;
    padding-top: 42px;
    display: flex;
    flex-direction: column;

    .recommend-title-pic-always {
      width: 375px;
      height: 100px;
      margin: 30px auto 0;
    }

    .bottom-part {
      background: #fff;
    }
  }

  .res-box.gray {
    background: url($commonModalBg) no-repeat;
    opacity: 0.7;

    .first-icon {
      background:
        url(https://m.360buyimg.com/img/jfs/t15682/140/1796622919/1063/7c54dd93/5a61f67dNcff008d7.png)
        no-repeat;
    }
  }

  .res-box {
    width: 100%;
    min-height: 152px;
    background: url($commonModalBg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 22px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;

    & .first {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 93%;

      & .description {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        & .remaining-pay-time {
          min-height: 36px;
          line-height: 36px;
          font-family: 'PingFangSC-Regular';
          font-size: 24px;
          display: inline-block;
          color: rgba(255, 255, 255, 1);

          & .block {
            width: 32px;
            height: 32px;
            padding: 0 6px;
            margin: 0 8px;
            background: rgba(255, 255, 255, 1);
            border-radius: 6px;
            color: #4fc340;
            font-size: 26px;
            font-family: 'HelveticaNeue-Bold';
            font-weight: 500;
            display: inline;
          }
        }
      }

      & .order-detail-title {
        height: 48px;
        // line-height: 48px;
        font-family: 'PingFangSC-Regular';
        font-size: 32px;
        color: rgba(255, 255, 255, 1);
        position: relative;
        padding-left: 58px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        & .remaining-pay-time {
          height: 50px;
          min-width: 210px;
          line-height: 50px;
          float: right;
          font-size: 24px;
          text-align: left;
        }

        & .first-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 44px;
          height: 44px;
          background:
            url(https://m.360buyimg.com/img/jfs/t18316/322/186727060/1810/52d19fca/5a61f4cfN66281cb7.png)
            no-repeat;
          background-size: 100% 100%;
        }

        & .gray-icon {
          background:
            url(https://m.360buyimg.com/img/jfs/t15682/140/1796622919/1063/7c54dd93/5a61f67dNcff008d7.png)
            no-repeat;
          background-size: 100% 100%;
        }

        & .wait-icon {
          background:
            url(https://m.360buyimg.com/img/jfs/t18493/285/186932446/1991/aaccb034/5a61f31bNc36df037.png)
            no-repeat;
          background-size: 100% 100%;
        }

        & .bus-icon {
          background:
            url(https://m.360buyimg.com/img/jfs/t16855/260/183820648/1609/b96826d6/5a61f524N953a7c96.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }

      & .desc {
        min-height: 36px;
        line-height: 36px;
        font-family: 'PingFangSC-Regular';
        font-size: 24px;
        color: rgba(255, 255, 255, 1);

        .tel_phone {
          font-size: 24px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    & .arrow {
      align-self: center;
      width: 16px;
      height: 28px;
      background:
        url(//m.360buyimg.com/img/jfs/t16630/16/188313348/233/4bdeb000/5a61f397Nc91cc3a3.png)
        no-repeat;
      background-size: cover;
    }
  }

  .fresh-bind-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 86px;
    background-color: #fff0eb;
    padding: 26px 30px 0;
    box-sizing: border-box;
    font-family: PingFangSC-Medium;
    font-size: 26px;
    color: rgba(226, 52, 52, 1);

    .card-num {
      height: 36px;
      line-height: 36px;
    }

    .go-bind-card {
      position: relative;
    }

    .go-bind-card-text {
      display: inline-block;
      margin-right: 22px;
    }

    .go-bind-card-icon {
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 26px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/135300/20/8760/147/5f4c6662E1f15f55d/12b046e395bdced5.png)
        no-repeat;
      background-size: 100%;
    }
  }

  .self-mention-box {
    padding: 0 30px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 20px;

    .mention-fir {
      height: 90px;
      line-height: 90px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'PingFangSC-Medium';
      font-size: 30px;
      color: rgb(37, 37, 37);

      .mention-address {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .mention-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }

      .mention-phone {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url($telPic);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        vertical-align: middle;
      }

      .h-line {
        height: 26px;
        line-height: 26px;
        display: inline-block;
        margin: 0 30px;
        padding-top: 30px;
        color: rgb(224, 224, 224);
      }

      .mention-btn {
        display: inline-block;
        text-align: center;
        width: 128px;
        height: 48px;
        line-height: 48px;
        background: $btnColor;
        color: #fff;
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        border-radius: 24px;
      }
    }

    .mention-txt {
      font-family: 'PingFangSC-Regular';
      font-size: 24px;
      color: rgb(37, 37, 37);
    }

    .mention-map {
      display: flex;
      align-items: center;
      clear: both;
      min-height: 40px;
      margin-top: 10px;
      font-size: 24px;
      color: $color;
    }

    .mention-line {
      height: 80px;
      line-height: 80px;
      font-family: 'PingFangSC-Regular';
      font-size: 26px;
      color: rgb(37, 37, 37);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .small-icon {
      background: rgba(94, 197, 67, 0.11);
      color: rgba(0, 171, 12, 1);
      border: 1px solid rgba(39, 169, 18, 0.29);
      border-radius: 16px;
      font-size: 22px;
      font-family: PingFangSC;
      font-weight: normal;
      padding: 0 12px;
      margin-left: 10px;
      display: inline-block;
      height: 32px;
      line-height: 32px;
      position: relative;
    }

    .prompt {
      background: rgba(255, 241, 211, 1);
      color: #b47e17;
      padding: 12px 0 12px 60px;
      font-size: 24px;
      font-family: PingFangSC;

      .tanhao {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        margin-right: 10px;
        position: relative;
      }
    }

    & .bbl {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .period-box {
    padding: 28px 30px 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .period-title {
      height: 30px;
      line-height: 30px;
      font-family: 'PingFangSC-Medium';
      font-size: 30px;
      color: rgb(37, 37, 37);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;

      .period-name {
        padding-left: 45px;
        position: relative;

        .period-icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 30px;
          background:
            url(//m.360buyimg.com/img/jfs/t24718/57/1300917266/453/966595cb/5badf9f9N5e4f0dcf.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }

      .period-edit {
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        color: rgb(0, 105, 140);
        position: relative;
        padding-right: 18px;

        .period-arrow {
          display: inline-block;
          position: absolute;
          top: 4px;
          right: 0;
          width: 11px;
          height: 20px;
          background: url($toRightGreenArrow) no-repeat;
          background-size: cover;
        }
      }
    }

    & .period-con {
      padding-left: 45px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      color: rgb(137, 137, 137);
      font-size: 26px;
      font-family: 'PingFangSC-Regular';
      line-height: 46px;
    }

    & .period-bottom {
      height: 80px;
      line-height: 80px;
      text-align: center;
      border-top: 2px solid rgba(0, 0, 0, 0.1);

      & .period-detail {
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        color: $color;
        position: relative;

        .period-bottom-arrow {
          position: absolute;
          top: 8px;
          right: -20px;
          width: 11px;
          height: 20px;
          background: url($toRightGreenArrow) no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }

  .map {
    height: 534px;
    margin: 0 auto;
    transform-origin: 0 0;
  }

  .addr-info-parent {
    margin-bottom: 20px;

    .page-delivery-box {
      width: 100%;
      height: 6px;
      background:
        url(//m.360buyimg.com/img/jfs/t23464/299/2351235775/580/b0466f16/5b7d0f86Neaee7371.png)
        no-repeat;
      background-size: 100% 100%;
    }
  }

  .addr-info {
    min-height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 32px 76px;
    box-sizing: border-box;
    position: relative;
    background: #fff;

    & .addr-info-icon {
      position: absolute;
      top: 50px;
      left: 30px;
      width: 26px;
      height: 32px;
      background:
        url(https://m.360buyimg.com/img/jfs/t19615/229/182749542/1826/8b13831a/5a61f6ccN814525fd.png)
        no-repeat;
      background-size: cover;
    }

    & .info {
      height: 30px;
      line-height: 30px;
      font-family: 'PingFangSC-Medium';
      font-size: 30px;
      color: rgba(37, 37, 37, 1);
      margin-bottom: 10px;

      & .name {
        display: inline-block;
        margin-right: 20px;
      }
    }

    & .addr {
      min-height: 36px;
      line-height: 36px;
      font-family: 'PingFangSC-Regular';
      font-size: 26px;
      color: rgba(137, 137, 137, 1);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; /* 将对象作为弹性伸缩盒子模型显示 */
      -webkit-line-clamp: 2; /* 控制最多显示几行 */
      -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
    }
  }

  .after-sales {
    height: 96px;
    line-height: 96px;
    padding-left: 76px;
    background: #fff;
    font-family: 'PingFangSC-Medium';
    font-size: 26px;
    color: rgba(37, 37, 37, 1);
    position: relative;
    margin-bottom: 20px;

    & .after-sale-icon {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 32px;
      height: 32px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/65209/6/12519/1478/5d9ee914Eddab238f/421a6a8b9bb6dfc2.png)
        no-repeat;
      background-size: cover;
    }

    & .arrow {
      position: absolute;
      top: 32px;
      right: 30px;
      width: 30px;
      height: 28px;
      background:
        url(//m.360buyimg.com/img/jfs/t1/57827/10/6312/5291/5d3ee232Efca8266e/8c866b61981b5fd2.jpg)
        no-repeat;
      background-size: cover;
    }
  }

  .fight-group {
    position: relative;
    background: #fff;
    padding-bottom: 40px;
    margin-bottom: 20px;

    .fight-group-title {
      height: 94px;
      line-height: 94px;
      font-size: 26px;
      font-family: 'PingFangSC-Regular';
      color: rgb(37, 37, 37);
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      .fight-group-red {
        color: rgb(226, 52, 52);
        font-style: normal;
      }

      .fight-group-tip {
        font-style: normal;
        margin-left: 10px;
        color: rgb(37, 37, 37);
        display: inline-block;
      }

      .fight-group-status {
        position: absolute;
        top: 0;
        right: 0;
        width: 110px;
        height: 94px;
        background:
          url(https://m.360buyimg.com/img/jfs/t1/124021/29/15053/12512/5f87bc33Ef36df588/15de5b698387dc43.png)
          no-repeat;
        background-size: 100% 100%;
      }
    }

    .fight-group-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 690px;
      flex-wrap: no-wrap;
      overflow-y: hidden;
      overflow-x: auto;
      margin: 0 auto;

      .fight-group-info {
        margin: 0 20px;
        position: relative;

        .fight-user-img {
          border-radius: 50%;
          width: 108px;
          height: 100px;
          position: relative;
        }

        .fight-group-info-icon {
          position: absolute;
          bottom: 0;
          left: 12px;
          width: 84px;
          height: 36px;
          font-size: 24px;
          text-align: center;
          font-family: 'PingFangSC-Regular';
          color: #fff;
          border-radius: 30px;
          background: linear-gradient(to right, #fb9447, #f5b135);
        }

        .fight-group-info-icon.team {
          background: linear-gradient(to right, #ff6d6d, #fd3232);
        }
      }
    }

    .fight-group-btn {
      width: 340px;
      height: 68px;
      line-height: 68px;
      text-align: center;
      background: linear-gradient(90deg, rgb(255, 109, 109), rgb(253, 50, 50));
      border-radius: 50px;
      color: #fff;
      margin: 40px auto 0;
      border: none;
      font-size: 26px;
    }
  }

  .wrap-box {
    width: 100%;
    // padding: 0 30px;
    box-sizing: border-box;
    background: #fff;

    & .time-box {
      padding: 0 30px;
      border-bottom: 2px solid rgba(194, 194, 194, 0.3);

      .time-inner-box {
        height: 88px;
        line-height: 88px;
        padding-left: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
      }

      & .time-box-icon {
        position: absolute;
        top: 30px;
        left: 0;
        width: 32px;
        height: 32px;
        background:
          url(//m.360buyimg.com/img/jfs/t17290/161/184967280/642/32a11022/5a61f719Neec33a8e.png)
          no-repeat;
        background-size: cover;
      }

      & .time-tit {
        font-family: 'PingFangSC-Medium';
        font-size: 26px;
        color: rgba(37, 37, 37, 1);
      }

      & .time {
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        color: rgba(37, 37, 37, 1);
      }
    }

    .store-box {
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 28px 0 22px 48px;
      margin: 0 30px;
      box-sizing: border-box;
      position: relative;

      & .store-box-icon {
        position: absolute;
        top: 30px;
        left: 0;
        width: 26px;
        height: 26px;
        background:
          url(//m.360buyimg.com/img/jfs/t15583/167/1821426924/433/3d316a6b/5a61f75dNcb107018.png)
          no-repeat;
        background-size: cover;
      }

      & .store-tit {
        height: 36px;
        line-height: 36px;
        font-family: 'PingFangSC-Medium';
        font-size: 26px;
        color: rgba(29, 31, 43, 1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & .store-addr {
        height: 34px;
        line-height: 34px;
        font-family: 'PingFangSC-Regular';
        font-size: 24px;
        color: rgba(137, 137, 137, 1);
      }
    }

    .goods-box {
      position: relative;
      border-top: 2px solid rgba(194, 194, 194, 0.1);
      padding: 0 30px;
      margin-bottom: 20px;

      & .freshActivated {
        width: 120px;
        height: 120px;
        position: absolute;
        right: 14px;
        bottom: 78px;

        .img {
          max-width: 120px;
          max-height: 120px;
        }
      }

      & .item {
        position: relative;
        // height: 186px;
        // background: rgba(246, 246, 246, 0.7);
        // border-radius: 10px;
        margin-bottom: 2px;
        padding: 20px 0 22px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid rgba(246, 246, 246, 0.7);
        align-items: center;

        & .img {
          width: 180px;
          height: 180px;
          border: 2px solid rgba(246, 246, 246, 0.7);
        }

        & .info {
          flex: 1;
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          box-sizing: border-box;
          position: relative;
          overflow: hidden;

          & .info-tit {
            height: 36px;
            line-height: 36px;
            color: rgba(29, 31, 43, 1);
            // margin-bottom: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .info-txt {
              width: 440px;
              display: inline-block;
              font-family: 'PingFangSC-Medium';
              font-size: 26px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            & .count {
              display: inline-block;
              font-family: 'PingFangSC-Semibold';
              font-size: 24px;
              color: #898989;
            }
          }

          & .num {
            height: 34px;
            line-height: 34px;
            font-family: 'PingFangSC-Regular';
            font-size: 24px;
            color: rgba(137, 137, 137, 1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .tasteInfo {
            height: 34px;
            line-height: 34px;
            font-family: 'PingFangSC-Regular';
            font-size: 24px;
            color: rgba(137, 137, 137, 1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 4px;
          }

          .service-img {
            width: 68px;
            height: 26px;
            margin-bottom: 34px;
            text-indent: 4px;

            & .easy-img {
              width: 68px;
              height: 26px;
            }
          }

          & .price {
            height: 30px;
            line-height: 26px;
            font-family: 'JDZhengHei-01-Regular';
            font-size: 28px;
            color: rgba(235, 30, 57, 1);
            margin-top: 30px;

            .price-unit {
              font-size: 26px;
              color: #898989;
              margin-left: 4px;
            }
          }

          & .info-btn {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 160px;
            height: 56px;
            line-height: 56px;
            border: 2px solid rgba(137, 137, 137, 1);
            border-radius: 32px;
            text-align: center;
            font-family: 'PingFangSC-Regular';
            font-size: 26px;
            color: rgba(37, 37, 37, 1);
          }

          & .info-btn.gray {
            border: 2px solid rgb(246, 246, 246);
            color: rgba(194, 194, 194, 1);
          }
        }
      }

      & .item:last-of-type {
        border-bottom: none;
      }

      .gift {
        height: 160px;

        & .img-icon {
          align-self: center;
        }

        & .img {
          width: 100px;
          height: 100px;
          border-radius: 10px;
          border: 2px solid rgba(0, 0, 0, 0.1);
        }

        & .info {
          & .info-tit {
            & .info-txt {
              width: 340px !important;
            }
          }
        }
      }
    }

    .more {
      font-family: 'PingFangSC-Regular';
      font-size: 26px;
      height: 83px;
      line-height: 83px;
      text-align: center;
      color: #232326;
      border-top: 2px solid rgba(246, 246, 246, 0.7);

      .more-btn {
        margin-left: 6px;
        color: #00ab0c;
        position: relative;

        .more-btn-icon {
          position: absolute;
          top: 12px;
          right: -32px;
          width: 22px;
          height: 12px;
          background:
            url(//m.360buyimg.com/img/jfs/t1/143978/13/9257/691/5f6d5c54Ed02ff2ae/aec57dd90bd30707.png)
            no-repeat;
          background-size: cover;
        }

        .more-btn-icon.up {
          transform: rotate(180deg);
        }
      }
    }
  }

  .order-info {
    background: #fff;
    padding: 46px 30px 30px;
    margin: 20px 0;

    & .line {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      & .order-info-tit {
        width: 120px;
        height: 34px;
        line-height: 34px;
        font-family: 'PingFangSC-Regular';
        font-size: 24px;
        color: rgba(137, 137, 137, 1);
        margin-right: 20px;
      }

      & .order-info-txt {
        height: 34px;
        line-height: 34px;
        font-family: 'PingFangSC-Regular';
        font-size: 24px;
        color: rgba(37, 37, 37, 1);

        & .copy {
          display: inline-block;
          margin-left: 26px;
          width: 88px;
          height: 36px;
          line-height: 32px;
          box-sizing: border-box;
          font-family: 'PingFangSC-Regular';
          font-size: 24px;
          color: rgba(37, 37, 37, 1);
          background: rgba(255, 255, 255, 1);
          border: 2px solid rgba(0, 0, 0, 0.2);
          border-radius: 18px;
          text-align: center;
        }
      }

      & .line-btn {
        margin-left: 16px;
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        border: 2px solid #ccc;
        text-align: center;
        font-size: 20px;
        font-family: 'PingFangSC-Regular';
      }
    }
  }

  .good-price {
    padding: 30px 30px 6px 30px;
    background: #fff;

    & .line {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & .good-price-tit {
        width: 144px;
        height: 34px;
        line-height: 34px;
        font-family: 'PingFangSC-Regular';
        font-size: 24px;
        color: rgba(137, 137, 137, 1);
        margin-right: 20px;

        .txt-icon {
          font-size: 26px;
          font-style: normal;
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          margin-left: 10px;
          border-radius: 50%;
          background-color: #c2c2c2;
          color: #fff;
          text-align: center;
          font-family: 'PingFangSC-Regular';
        }
      }

      & .good-price-txt {
        height: 34px;
        line-height: 34px;
        font-family: 'PingFangSC-Regular';
        font-size: 24px;
        color: rgba(37, 37, 37, 1);
      }
    }
  }

  .bottom-price {
    padding: 0 30px 30px;
    background: #fff;

    .reality {
      font-family: 'PingFangSC-Regular';
      font-size: 24px;
      text-align: right;
      box-sizing: border-box;
      border-top: 2px solid rgba(246, 246, 246, 0.7);

      & .payment {
        padding: 20px 0 10px 0;

        & .reality-price {
          color: #e23434;
          margin-left: 10px;
        }
      }

      & .refund {
        padding: 0 0 10px 0;

        & .refund-tit {
          position: relative;
          display: inline-block;

          & .tips {
            position: absolute;
            top: 0;
            left: -40px;
            width: 30px;
            height: 30px;
            background:
              url(//m.360buyimg.com/img/jfs/t1/71487/4/10765/922/5d834cdfE8f76170c/e32424f55a595102.png)
              no-repeat;
            background-size: cover;
          }
        }

        & .refund-price {
          color: #e23434;
          margin-left: 10px;
        }
      }
    }
  }

  .mb100 {
    height: 104px;
    height: calc(104px + constant(safe-area-inset-bottom));
    height: calc(104px + env(safe-area-inset-bottom));
  }

  .bottom-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 104px;
    height: calc(104px + constant(safe-area-inset-bottom));
    height: calc(104px + env(safe-area-inset-bottom));
    padding: 20px 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 -8px 24px 0 rgba(0, 0, 0, 0.05);
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    touch-action: none;

    .my-green-order-btn {
      width: 184px;
      height: 64px;
      line-height: 64px;
      padding-bottom: 0;
      background:
        linear-gradient(
          233.63deg,
          rgba(23, 195, 22, 1) 0%,
          rgba(93, 208, 62, 1) 100%
        );
      border-radius: 32px;
      font-size: 28px;
      color: #fff;
      font-family: 'PingFangSC-Semibold';
      font-weight: 500;
      // text-align: center;
      padding-left: 32px;
      margin-left: 20px;
      margin-bottom: calc(constant(safe-area-inset-bottom));
      margin-bottom: calc(env(safe-area-inset-bottom));
    }

    .bottom-box-btn {
      width: 164px;
      height: 64px;
      line-height: 64px;
      padding-bottom: 0;
      margin-bottom: calc(constant(safe-area-inset-bottom));
      margin-bottom: calc(env(safe-area-inset-bottom));
      background: rgba(255, 255, 255, 1);
      border: 2px solid rgba(137, 137, 137, 1);
      border-radius: 32px;
      font-family: 'PingFangSC-Regular';
      font-size: 26px;
      text-align: center;
      color: rgba(37, 37, 37, 1);
      margin-left: 20px;

      .btn-a {
        text-decoration: none;
        color: rgba(37, 37, 37, 1);
      }
    }
  }

  .page-empty {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .page-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
  }

  .after-sales-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    text-align: left;
    box-sizing: border-box;

    & .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    & .container {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      z-index: 250;
      padding: 0 30px;
      box-sizing: border-box;
      height: 300px;

      & .popup-title {
        position: relative;
        height: 42px;
        line-height: 42px;
        font-family: 'PingFangSC-Medium';
        font-size: 30px;
        color: rgba(37, 37, 37, 1);
        text-align: center;
        margin: 40px 0 30px;

        & .close {
          position: absolute;
          top: 4px;
          right: 0;
          width: 22px;
          height: 22px;
          background:
            url(//m.360buyimg.com/img/jfs/t12895/99/2618201646/1365/8d2ecb01/5a4509a4N166ae1db.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }

      & .desc {
        display: block;
        background-color: #fff;
        padding-bottom: 60px;
        box-sizing: border-box;
        min-height: 300px;
        line-height: 36px;
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        color: rgba(37, 37, 37, 1);
      }

      & .list {
        display: block;
        line-height: 36px;
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        color: rgba(37, 37, 37, 1);
      }
    }

    & .container::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #febb3a;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      pointer-events: none;
    }

    & .after-sales-popup .container::before {
      position: absolute;
      bottom: 0;
      left: 0%;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      pointer-events: none;
    }
  }

  .ziti-qrcode-layer {
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    .ziti-con {
      z-index: 2;
      position: fixed;
      bottom: 0;
      background: #fff;
      padding: 0 30px 30px;
      width: 100%;
      box-sizing: border-box;

      .ziti-qrcode-layer-title {
        height: 100px;
        line-height: 100px;
        font-family: 'PingFangSC-Regular';
        font-size: 30px;
        color: rgb(37, 37, 37);
        text-align: center;
        position: relative;

        .close {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 22px;
          height: 22px;
          margin: auto;
          background:
            url(//m.360buyimg.com/img/jfs/t1/22818/10/14380/263/5cab3b1cEaebd456c/81b6a7a050b49ef2.png)
            no-repeat;
          background-size: 100% 100%;
        }
      }

      .ziti-qrcode-layer-tel {
        font-family: 'PingFangSC-Medium';
        font-size: 30px;
        color: rgb(37, 37, 37);
        text-align: center;
        margin: 20px 0;
      }

      .ziti-qrcode-layer-img {
        text-align: center;
        margin-bottom: 30px;
      }

      .ziti-status {
        height: 90px;
        line-height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title-name {
          font-size: 32px;
          color: rgb(37, 37, 37);
          font-family: 'PingFangSC-Medium';
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .status {
          .store-status {
            font-size: 28px;
            color: $color;
            font-family: 'PingFangSC-Medium';
          }

          .red {
            color: rgb(226, 52, 52);
          }

          .store-line {
            height: 26px;
            line-height: 26px;
            display: inline-block;
            margin: 0 30px;
            padding-top: 30px;
            color: rgb(224, 224, 224);
          }

          .point-tel {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(//m.360buyimg.com/img/jfs/t1/130573/15/10950/1147/5f708bf7Eac4fe850/e34c85688d858092.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            vertical-align: middle;
          }
        }
      }

      .ziti-detail-line {
        min-height: 40px;
        line-height: 40px;
        font-size: 26px;
        color: rgb(137, 137, 137);
        font-family: 'PingFangSC-Regular';
        position: relative;
        display: flex;
        flex-direction: row;
        justify-items: center;
        padding-bottom: 10px;

        .ziti-time-icon {
          align-self: center;
          width: 22px;
          height: 22px;
          background:
            url(//m.360buyimg.com/img/jfs/t1/30575/17/10160/662/5cac0522Ebd228cab/4bb2b20197c07700.png)
            no-repeat;
          background-size: 100% 100%;
        }

        .ziti-addr-icon {
          align-self: center;
          width: 22px;
          height: 22px;
          background:
            url(//m.360buyimg.com/img/jfs/t12172/157/2630355692/1826/8b13831a/5a4509a4N275c65f0.png)
            no-repeat;
          background-size: 100% 100%;
        }

        .ziti-detail-txt {
          width: 89%;
          padding-left: 24px;
        }
      }

      .ziti-line {
        height: 80px;
        line-height: 80px;
        font-family: 'PingFangSC-Regular';
        font-size: 26px;
        color: rgb(37, 37, 37);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      & .bbl {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  .my-mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
  }

  .marker-style {
    position: absolute;
    background: url(https://m.360buyimg.com/img/jfs/t1/107478/35/14185/6304/5ea544ccE35fa24fd/9d45a88d751fbc59.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 6px 20px 0;
    height: 102px;
    width: 56px;
    color: #fff;
    font-size: 24px;
    text-align: right;
  }

  .bottom-logo {
    padding-bottom: 50px;
    padding-top: 30px;
    background: #f8f8f8;
  }

  .service-easy-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
    flex-wrap: wrap;

    .easy-icon {
      padding: 2px 6px;
      height: 26px;
      line-height: 26px;
      background: $bgColor;
      border-radius: 4px;
      font-size: 20px;
      font-family: 'PingFangSC-Regular';
      font-weight: 500;
      color: $color;
      border: 1px solid $color;
      margin-right: 8px;
      margin-bottom: 4px;
    }
  }
}

.go-top {
  position: fixed;
  right: 30px;
  bottom: 200px;
  z-index: 2;
}

.logistics-map {
  width: 100%;
  height: 320px;
  transform: 0.6;
}
